Mein Beispiel wird hier stattfinden. Mit der neuen tpch database und einer einfachen query zuerst.

In [1]:
import pathlib
from inspect import cleandoc
from mlinspect import PipelineInspector
from mlinspect.utils import get_project_root
from mlinspect.to_sql.dbms_connectors.postgresql_connector import PostgresqlConnector
import os
import time

##Mal schauen ob sich das problem l√∂st, wenn ich alle sachen importiere
from mlinspect.inspections import HistogramForColumns, RowLineage, MaterializeFirstOutputRows
from mlinspect.checks import NoBiasIntroducedFor, NoIllegalFeatures
from demo.feature_overview.no_missing_embeddings import NoMissingEmbeddings
from example_pipelines.healthcare import custom_monkeypatching
from mlinspect import OperatorType
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    

    


POSTGRES_USER = "postgres"
POSTGRES_PW = "123456"
POSTGRES_DB = "db1"
POSTGRES_PORT = 25432
POSTGRES_HOST = "localhost"

#POSTGRES_USER = "luca"
#POSTGRES_PW = "password"
#POSTGRES_DB = "healthcare_benchmark"
#POSTGRES_PORT = 5432
#POSTGRES_HOST = "localhost"

dbms_connector_p = PostgresqlConnector(dbname=POSTGRES_DB, user=POSTGRES_USER, password=POSTGRES_PW,
                                       port=POSTGRES_PORT, host=POSTGRES_HOST)

print(dbms_connector_p.db_settings)

{'dbname': 'db1', 'user': 'postgres', 'password': '123456', 'port': 25432, 'host': 'localhost'}

In [2]:
pipeline_code = cleandoc("""
    import warnings
    import os
    import pandas as pd
    import numpy as np
    from sklearn.compose import ColumnTransformer
    from sklearn.impute import SimpleImputer
    from sklearn.model_selection import train_test_split
    from sklearn.pipeline import Pipeline
    from sklearn.preprocessing import OneHotEncoder, StandardScaler
    from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier, \
        create_model
    from mlinspect.utils import get_project_root, store_timestamp
    import time
    from mlinspect.to_sql.dbms_connectors.postgresql_connector import PostgresqlConnector
    
    #HIER IST DIE ECHTE TESTDB MIT TPCH DATEN
    POSTGRES_USER = "postgres"
    POSTGRES_PW = "123456"
    POSTGRES_DB = "db1"
    POSTGRES_PORT = 25432
    POSTGRES_HOST = "localhost"
    
    dbms_connector_p = PostgresqlConnector(dbname=POSTGRES_DB, user=POSTGRES_USER, password=POSTGRES_PW, port=POSTGRES_PORT, host=POSTGRES_HOST)
    
    def udf_disc_price(extended, discount):
        return (extended*(1-discount))

    def udf_charge(extended, discount, tax):
        return extended*((1-discount)*(1+tax))
        #np.multiply(extended, np.multiply(np.subtract(1, discount), np.add(1, tax)))
               
    def load_table(table, sf=1):
        parse_dates=[]
        if table=='orders':
            parse_dates=['o_orderdate']
        elif table=='lineitem':
            parse_dates=['l_shipdate', 'l_commitdate', 'l_receiptdate']

        df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                             dbms_connector_p.connection, parse_dates=parse_dates)
        dbms_connector_p.run(f"END;")
        
        #cols = df.select_dtypes(object).columns
        #df[cols] = df[cols].apply(lambda x: x.astype(str).str.strip())
        return df
   
    #XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    #Query 1
    #parse_dates=['l_shipdate', 'l_commitdate', 'l_receiptdate']
    #lineitem=pd.read_sql_query('SELECT * FROM pg2_sf1_lineitem', dbms_connector_p.connection, parse_dates=parse_dates)
    #
    #df=lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",
    #                "l_extendedprice", "l_discount", "l_tax"]][(lineitem['l_shipdate'] <= '1998-09-01')]
    #df['disc_price'] = udf_disc_price(
    #    df['l_extendedprice'], df['l_discount'])
    #df['charge'] = udf_charge(df['l_extendedprice'],
    #                            df['l_discount'], df['l_tax'])    
    #res = df.groupby(['l_returnflag', 'l_linestatus'])\
    #    .agg({'l_quantity': 'sum', 'l_extendedprice': 'sum', 'disc_price': 'sum', 'charge': 'sum',
    #            'l_quantity': 'mean', 'l_extendedprice': 'mean', 'l_discount': 'mean', 'l_shipdate': 'count'})
    #
    #print("df jjjjjjjjjjjjjjjjjjjjjjjjjjjj", df)
    #print("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)
    
    \"\"\"
    #Query 1 with methods
    lineitem = load_table('lineitem', 1)
    
    df = lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",
                   "l_extendedprice", "l_discount", "l_tax"]][(lineitem['l_shipdate'] <= '1998-09-01')]
    df['disc_price'] = udf_disc_price(
        df['l_extendedprice'], df['l_discount'])
    df['charge'] = udf_charge(df['l_extendedprice'],
                              df['l_discount'], df['l_tax'])
    res = df.groupby(['l_returnflag', 'l_linestatus'])\
        .agg({'l_quantity': 'sum', 'l_extendedprice': 'sum', 'disc_price': 'sum', 'charge': 'sum',
              'l_quantity': 'mean', 'l_extendedprice': 'mean', 'l_discount': 'mean', 'l_shipdate': 'count'})
    
    print("df jjjjjjjjjjjjjjjjjjjjjjjjjjjj", df)
    print("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)
    
    
    
    
    \"\"\"
    
    #Query 2
    nation = load_table('nation', 1)
    part = load_table('part', 1)
    supplier = load_table('supplier', 1)
    region = load_table('region', 1)
    partsupp = load_table('partsupp', 1)
    
    ps = partsupp[["ps_partkey", "ps_suppkey", "ps_supplycost"]]
    p = part[["p_partkey", "p_mfgr", "p_size", "p_type"]][(part['p_size'] == 15) & (
        part['p_type'].str.match(".*BRASS$"))][["p_partkey", "p_mfgr"]]
        
    psp = ps.merge(p, left_on="ps_partkey", right_on="p_partkey")
    s = supplier[["s_suppkey", "s_nationkey", "s_acctbal",
                  "s_name", "s_address", "s_phone", "s_comment"]]
    psps = psp.merge(s, left_on="ps_suppkey", right_on="s_suppkey")[
        ["ps_partkey", "ps_supplycost", "p_mfgr", "s_nationkey",         "s_acctbal", "s_name", "s_address", "s_phone", "s_comment"]]
    nr = nation.merge(region[region["r_name"] == "EUROPE"], left_on="n_regionkey", right_on="r_regionkey")[["n_nationkey", "n_name"]]
    
    pspsnr = psps.merge(nr, left_on="s_nationkey", right_on="n_nationkey")[["ps_partkey", "ps_supplycost", "p_mfgr", "n_name", "s_acctbal", "s_name", "s_address", "s_phone", "s_comment"]]
    aggr = pspsnr.groupby("ps_partkey").agg({'ps_supplycost': min})#.reset_index()
    sj = pspsnr.merge(aggr, left_on=["ps_partkey", "ps_supplycost"], right_on=["ps_partkey", "ps_supplycost"])
    res = sj[["s_acctbal", "s_name", "n_name", "ps_partkey", "p_mfgr", "s_address", "s_phone", "s_comment"]].sort_values(["s_acctbal", "n_name", "s_name", "ps_partkey"], ascending=[False, True, True, True]).head(100)
    
    #res = sj[["s_acctbal", "s_name", "n_name", "ps_partkey", "p_mfgr", "s_address", "s_phone", "s_comment"]].head(100)
    
    
    
    print("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)
    

    
""")

print(pipeline_code)

import warnings
import os
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier,         create_model
from mlinspect.utils import get_project_root, store_timestamp
import time
from mlinspect.to_sql.dbms_connectors.postgresql_connector import PostgresqlConnector

#HIER IST DIE ECHTE TESTDB MIT TPCH DATEN
POSTGRES_USER = "postgres"
POSTGRES_PW = "123456"
POSTGRES_DB = "db1"
POSTGRES_PORT = 25432
POSTGRES_HOST = "localhost"

dbms_connector_p = PostgresqlConnector(dbname=POSTGRES_DB, user=POSTGRES_USER, password=POSTGRES_PW, port=POSTGRES_PORT, host=POSTGRES_HOST)

def udf_disc_price(extended, discount):
    return (extended*(1-discount))

def udf_charge(extended, discount, tax):
    return extended*((1-discount)*(1+tax))
    #np.multiply(extended, np.multiply(np.subtract(1, discount), np.add(1, tax)))

def load_table(table, sf=1):
    parse_dates=[]
    if table=='orders':
        parse_dates=['o_orderdate']
    elif table=='lineitem':
        parse_dates=['l_shipdate', 'l_commitdate', 'l_receiptdate']

    df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                         dbms_connector_p.connection, parse_dates=parse_dates)
    dbms_connector_p.run(f"END;")

    #cols = df.select_dtypes(object).columns
    #df[cols] = df[cols].apply(lambda x: x.astype(str).str.strip())
    return df

#XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#Query 1
#parse_dates=['l_shipdate', 'l_commitdate', 'l_receiptdate']
#lineitem=pd.read_sql_query('SELECT * FROM pg2_sf1_lineitem', dbms_connector_p.connection, parse_dates=parse_dates)
#
#df=lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",
#                "l_extendedprice", "l_discount", "l_tax"]][(lineitem['l_shipdate'] <= '1998-09-01')]
#df['disc_price'] = udf_disc_price(
#    df['l_extendedprice'], df['l_discount'])
#df['charge'] = udf_charge(df['l_extendedprice'],
#                            df['l_discount'], df['l_tax'])
#res = df.groupby(['l_returnflag', 'l_linestatus'])    #    .agg({'l_quantity': 'sum', 'l_extendedprice': 'sum', 'disc_price': 'sum', 'charge': 'sum',
#            'l_quantity': 'mean', 'l_extendedprice': 'mean', 'l_discount': 'mean', 'l_shipdate': 'count'})
#
#print("df jjjjjjjjjjjjjjjjjjjjjjjjjjjj", df)
#print("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)

"""
#Query 1 with methods
lineitem = load_table('lineitem', 1)

df = lineitem[["l_shipdate", "l_returnflag", "l_linestatus", "l_quantity",
               "l_extendedprice", "l_discount", "l_tax"]][(lineitem['l_shipdate'] <= '1998-09-01')]
df['disc_price'] = udf_disc_price(
    df['l_extendedprice'], df['l_discount'])
df['charge'] = udf_charge(df['l_extendedprice'],
                          df['l_discount'], df['l_tax'])
res = df.groupby(['l_returnflag', 'l_linestatus'])        .agg({'l_quantity': 'sum', 'l_extendedprice': 'sum', 'disc_price': 'sum', 'charge': 'sum',
          'l_quantity': 'mean', 'l_extendedprice': 'mean', 'l_discount': 'mean', 'l_shipdate': 'count'})

print("df jjjjjjjjjjjjjjjjjjjjjjjjjjjj", df)
print("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)




"""

#Query 2
nation = load_table('nation', 1)
part = load_table('part', 1)
supplier = load_table('supplier', 1)
region = load_table('region', 1)
partsupp = load_table('partsupp', 1)

ps = partsupp[["ps_partkey", "ps_suppkey", "ps_supplycost"]]
p = part[["p_partkey", "p_mfgr", "p_size", "p_type"]][(part['p_size'] == 15) & (
    part['p_type'].str.match(".*BRASS$"))][["p_partkey", "p_mfgr"]]

psp = ps.merge(p, left_on="ps_partkey", right_on="p_partkey")
s = supplier[["s_suppkey", "s_nationkey", "s_acctbal",
              "s_name", "s_address", "s_phone", "s_comment"]]
psps = psp.merge(s, left_on="ps_suppkey", right_on="s_suppkey")[
    ["ps_partkey", "ps_supplycost", "p_mfgr", "s_nationkey",         "s_acctbal", "s_name", "s_address", "s_phone", "s_comment"]]
nr = nation.merge(region[region["r_name"] == "EUROPE"], left_on="n_regionkey", right_on="r_regionkey")[["n_nationkey", "n_name"]]

pspsnr = psps.merge(nr, left_on="s_nationkey", right_on="n_nationkey")[["ps_partkey", "ps_supplycost", "p_mfgr", "n_name", "s_acctbal", "s_name", "s_address", "s_phone", "s_comment"]]
aggr = pspsnr.groupby("ps_partkey").agg({'ps_supplycost': min})#.reset_index()
sj = pspsnr.merge(aggr, left_on=["ps_partkey", "ps_supplycost"], right_on=["ps_partkey", "ps_supplycost"])
res = sj[["s_acctbal", "s_name", "n_name", "ps_partkey", "p_mfgr", "s_address", "s_phone", "s_comment"]].sort_values(["s_acctbal", "n_name", "s_name", "ps_partkey"], ascending=[False, True, True, True]).head(100)

#res = sj[["s_acctbal", "s_name", "n_name", "ps_partkey", "p_mfgr", "s_address", "s_phone", "s_comment"]].head(100)



print("res jjjjjjjjjjjjjjjjjjjjjjjjjj", res)

In [3]:
## The function to retrieve the generated code:
def get_sql_query(pipeline_code, to_sql, dbms_connector=None, mode=None, materialize=None):
    from PIL import Image
    import matplotlib.pyplot as plt
    from mlinspect.visualisation import save_fig_to_path
    import os
    import sys
    
    inspector_result = PipelineInspector \
        .on_pipeline_from_string(pipeline_code) 
    
    if to_sql:
        inspector_result = inspector_result.execute_in_sql(dbms_connector=dbms_connector, mode=mode, materialize=materialize)
    else:
        inspector_result = inspector_result.execute()
        return None

    #extracted_dag = inspector_result.dag
    #filename = os.path.join(str(get_project_root()), "demo", "feature_overview", "newTest.png")
    #save_fig_to_path(extracted_dag, filename)
    #im = Image.open(filename)
    #plt.imshow(im)
    
    #test_file = \
    #    pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/pipeline.sql")
    
    #with test_file.open("r") as file:
    #    test__code = file.read()

    #return test__code
    return None

In [4]:
#dbms_connector_p = PostgresqlConnector(dbname=POSTGRES_DB, user=POSTGRES_USER, password=POSTGRES_PW,
#                                       port=POSTGRES_PORT, host=POSTGRES_HOST)
#print(dbms_connector_p.db_settings)

def run_for_all(pipeline_code, mode="", materialize=None):
    
#    dbms_connector_p = PostgresqlConnector(dbname=POSTGRES_DB, user=POSTGRES_USER, password=POSTGRES_PW,
#                                       port=POSTGRES_PORT, host=POSTGRES_HOST)
    print(dbms_connector_p.db_settings)

    t0 = time.time()
    test_code = get_sql_query(pipeline_code=pipeline_code, to_sql=True, dbms_connector=dbms_connector_p, mode=mode, materialize=materialize)
    t1 = time.time()
    print("\nTime spend with modified SQL inspections (PSQL): " + str(t1 - t0))
    
    #t2 = time.time()
    #result= get_sql_query(pipeline_code=pipeline_code, to_sql=False)
    #t3 = time.time()
    #print("\nTime spend with original (pandas): " + str(t3 - t2))

    #(also eventuell k√∂nnte ich hier statt get_sql_query oben diesen befehl get_sql_query_for_pipeline von code_as_string.py in example_to_sql benutzen, damit der setup_code und test_code in die files geschrieben wird, aber noch nicht ausgef√ºhrt wird!!!)
    #(und dann diesen befehl hier laufen lassen, damit die tabellen nicht neu im dbms erzeugt werden) dbms_connector_p.run(test_code)
    #print(setup_code + "\n" + test_code)

In [5]:
# The code generated using "CTE":

#run_for_all(pipeline_code, mode="CTE", materialize=False)

In [6]:
# The code generated using "VIEW":

run_for_all(pipeline_code, mode="VIEW", materialize=False)

{'dbname': 'db1', 'user': 'postgres', 'password': '123456', 'port': 25432, 'host': 'localhost'}
TTTTTTTTTTTTTTTTTTTTT hier ist der modified ast

OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO ICH WILL WISSEN OB PATCHED_READ_sql_query ausgel√∂st wird :D
RRRRRRRRRRRRRRRRRRRRRRRRRR original <function read_sql_query at 0x0000019622F10C10>
TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT2
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º ergebnis_source_code     df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                         dbms_connector_p.connection, parse_dates=parse_dates)
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º caller_source_code in monkeypatching,  pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                         dbms_connector_p.connection, parse_dates=parse_dates)
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente Original_func <function read_sql_query at 0x0000019622F10C10>
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente execute_inspections_func <function PandasPatchingSQL.patched_read_sql_query.<locals>.execute_inspections at 0x00000196451323A0>
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente *args SELECT * FROM pg2_sf1_nation <connection object at 0x0000019645133040; dsn: 'user=postgres password=xxx dbname=db1 host=localhost port=25432', closed: 0>
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente  **kwargs parse_dates
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º der split[0]     df
<_ast.Assign object at 0x000001963C9820D0>
vergleich astnode und last <_ast.Call object at 0x0000019644E07340> <_ast.Assign object at 0x000001963C9820D0>
vergleich helpernode und last <_ast.Call object at 0x0000019644E074F0> <_ast.Assign object at 0x000001963C9820D0>
dump lastop Assign(targets=[Name(id='res', ctx=Store())], value=Call(func=Attribute(value=Call(func=Attribute(value=Subscript(value=Name(id='sj', ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=105, kind=None), Constant(value=6, kind=None), Constant(value=105, kind=None), Constant(value=104, kind=None), Index(value=List(elts=[Constant(value='s_acctbal', kind=None), Constant(value='s_name', kind=None), Constant(value='n_name', kind=None), Constant(value='ps_partkey', kind=None), Constant(value='p_mfgr', kind=None), Constant(value='s_address', kind=None), Constant(value='s_phone', kind=None), Constant(value='s_comment', kind=None)], ctx=Load()))], keywords=[]), ctx=Load()), attr='sort_values', ctx=Load()), args=[List(elts=[Constant(value='s_acctbal', kind=None), Constant(value='n_name', kind=None), Constant(value='s_name', kind=None), Constant(value='ps_partkey', kind=None)], ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=105, kind=None), Constant(value=6, kind=None), Constant(value=105, kind=None), Constant(value=202, kind=None)], keywords=[keyword(arg='ascending', value=List(elts=[Constant(value=False, kind=None), Constant(value=True, kind=None), Constant(value=True, kind=None), Constant(value=True, kind=None)], ctx=Load()))]))]), attr='head', ctx=Load()), args=[Constant(value=100, kind=None)], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=105, kind=None), Constant(value=6, kind=None), Constant(value=105, kind=None), Constant(value=212, kind=None)], keywords=[]))]), type_comment=None)
dump call_helper_ast_node Call()
dump call_ast_node Call()
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º helper_source_code     df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                         dbms_connector_p.connection, parse_dates=parse_dates)
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º last_op_code res = sj[["s_acctbal", "s_name", "n_name", "ps_partkey", "p_mfgr", "s_address", "s_phone", "s_comment"]].sort_values(["s_acctbal", "n_name", "s_name", "ps_partkey"], ascending=[False, True, True, True]).head(100)
vergleich echt last_op False
vllt alte linenummer? 38
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_lineno 38
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper op_id 0
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_code_reference CodeReference(lineno=38, col_offset=9, end_lineno=39, end_col_offset=78)
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_source_code pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                         dbms_connector_p.connection, parse_dates=parse_dates)
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_lineno 38
OOOOOOOO und das hier folgt direkt danach
op_id:  0 caller_filename:  <string-source> lineno:  38 optional_code_reference:  CodeReference(lineno=38, col_offset=9, end_lineno=39, end_col_offset=78) optional_source_code:  pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,
                         dbms_connector_p.connection, parse_dates=parse_dates)
SELECT * FROM pg2_sf1_nation
('SELECT * FROM pg2_sf1_nation', <connection object at 0x0000019645133040; dsn: 'user=postgres password=xxx dbname=db1 host=localhost port=25432', closed: 0>)
('SELECT * FROM pg2_sf1_nation limit 1000', <connection object at 0x0000019645133040; dsn: 'user=postgres password=xxx dbname=db1 host=localhost port=25432', closed: 0>)
ssssssssssssssssssssssssss hier sind wichtige infos zu result, origininal, argfs , kwargs. Result:     n_nationkey                     n_name  n_regionkey  \
0             0  ALGERIA                              0
1             1  ARGENTINA                            1
2             2  BRAZIL                               1
3             3  CANADA                               1
4             4  EGYPT                                4
5             5  ETHIOPIA                             0
6             6  FRANCE                               3
7             7  GERMANY                              3
8             8  INDIA                                2
9             9  INDONESIA                            2
10           10  IRAN                                 4
11           11  IRAQ                                 4
12           12  JAPAN                                2
13           13  JORDAN                               4
14           14  KENYA                                0
15           15  MOROCCO                              0
16           16  MOZAMBIQUE                           0
17           17  PERU                                 1
18           18  CHINA                                2
19           19  ROMANIA                              3
20           20  SAUDI ARABIA                         4
21           21  VIETNAM                              2
22           22  RUSSIA                               3
23           23  UNITED KINGDOM                       3
24           24  UNITED STATES                        1

                                            n_comment
0    haggle. carefully final deposits detect slyly...
1   al foxes promise slyly according to the regula...
2   y alongside of the pending deposits. carefully...
3   eas hang ironic, silent packages. slyly regula...
4   y above the carefully unusual theodolites. fin...
5                     ven packages wake quickly. regu
6              refully final requests. regular, ironi
7   l platelets. regular accounts x-ray: unusual, ...
8   ss excuses cajole slyly across the packages. d...
9    slyly express asymptotes. regular deposits ha...
10  efully alongside of the slyly final dependenci...
11  nic deposits boost atop the quickly final requ...
12               ously. final, express gifts cajole a
13  ic deposits are blithely about the carefully r...
14   pending excuses haggle furiously deposits. pe...
15  rns. blithely bold courts among the closely re...
16      s. ironic, unusual asymptotes wake blithely r
17  platelets. blithely pending dependencies use f...
18  c dependencies. furiously express notornis sle...
19  ular asymptotes are about the furious multipli...
20  ts. silent requests haggle. closely express pa...
21     hely enticingly express accounts. even, final
22   requests against the platelets use never acco...
23  eans boost carefully special requests. account...
24  y final packages. slow foxes cajole quickly. q...    original  <function read_sql_query at 0x0000019622F10C10> args ('SELECT * FROM pg2_sf1_nation', <connection object at 0x0000019645133040; dsn: 'user=postgres password=xxx dbname=db1 host=localhost port=25432', closed: 0>) kwargs {'parse_dates': []}
ffffffffffffffffffffffffffffff targetdf      df
9999999999999999999 original <function read_sql_query at 0x0000019622F10C10>
CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC  ['n_nationkey', 'n_name', 'n_regionkey', 'n_comment']
++++++++++++++++ sql_code: +++++++++++++++++++++  SELECT *, ctid AS pg2_sf1_nation_ctid
FROM pg2_sf1_nation
['n_nationkey', 'n_name', 'n_regionkey', 'n_comment']
['pg2_sf1_nation_ctid']
LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL WIR sind in finish_sql_call LLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
sqlcode  SELECT *, ctid AS pg2_sf1_nation_ctid
FROM pg2_sf1_nation
result      n_nationkey                     n_name  n_regionkey  \
0             0  ALGERIA                              0
1             1  ARGENTINA                            1
2             2  BRAZIL                               1
3             3  CANADA                               1
4             4  EGYPT                                4
5             5  ETHIOPIA                             0
6             6  FRANCE                               3
7             7  GERMANY                              3
8             8  INDIA                                2
9             9  INDONESIA                            2
10           10  IRAN                                 4
11           11  IRAQ                                 4
12           12  JAPAN                                2
13           13  JORDAN                               4
14           14  KENYA                                0
15           15  MOROCCO                              0
16           16  MOZAMBIQUE                           0
17           17  PERU                                 1
18           18  CHINA                                2
19           19  ROMANIA                              3
20           20  SAUDI ARABIA                         4
21           21  VIETNAM                              2
22           22  RUSSIA                               3
23           23  UNITED KINGDOM                       3
24           24  UNITED STATES                        1

                                            n_comment
0    haggle. carefully final deposits detect slyly...
1   al foxes promise slyly according to the regula...
2   y alongside of the pending deposits. carefully...
3   eas hang ironic, silent packages. slyly regula...
4   y above the carefully unusual theodolites. fin...
5                     ven packages wake quickly. regu
6              refully final requests. regular, ironi
7   l platelets. regular accounts x-ray: unusual, ...
8   ss excuses cajole slyly across the packages. d...
9    slyly express asymptotes. regular deposits ha...
10  efully alongside of the slyly final dependenci...
11  nic deposits boost atop the quickly final requ...
12               ously. final, express gifts cajole a
13  ic deposits are blithely about the carefully r...
14   pending excuses haggle furiously deposits. pe...
15  rns. blithely bold courts among the closely re...
16      s. ironic, unusual asymptotes wake blithely r
17  platelets. blithely pending dependencies use f...
18  c dependencies. furiously express notornis sle...
19  ular asymptotes are about the furious multipli...
20  ts. silent requests haggle. closely express pa...
21     hely enticingly express accounts. even, final
22   requests against the platelets use never acco...
23  eans boost carefully special requests. account...
24  y final packages. slow foxes cajole quickly. q...
tracking_cols  ['pg2_sf1_nation_ctid']
non_tracking_cols  None
origin_context  None
cte_name  pg2_sf1_nation_1_mlinid0_ctid
PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP  Hier sind wir in Wrap_in_sql_obj in sql_logic PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
sqlcode SELECT *, ctid AS pg2_sf1_nation_ctid
FROM pg2_sf1_nation
block_name pg2_sf1_nation_1_mlinid0_ctid
Und hier ist das ergebnis der beiden werte
sqlcode  CREATE VIEW pg2_sf1_nation_1_mlinid0_ctid AS (
	SELECT *, ctid AS pg2_sf1_nation_ctid
	FROM pg2_sf1_nation
);

block_name  pg2_sf1_nation_1_mlinid0_ctid
Hier will ich kurz wissen ob die Tableinfo ver√§ndert wurde
altes result tableinfo     n_nationkey                     n_name  n_regionkey  \
0             0  ALGERIA                              0
1             1  ARGENTINA                            1
2             2  BRAZIL                               1
3             3  CANADA                               1
4             4  EGYPT                                4
5             5  ETHIOPIA                             0
6             6  FRANCE                               3
7             7  GERMANY                              3
8             8  INDIA                                2
9             9  INDONESIA                            2
10           10  IRAN                                 4
11           11  IRAQ                                 4
12           12  JAPAN                                2
13           13  JORDAN                               4
14           14  KENYA                                0
15           15  MOROCCO                              0
16           16  MOZAMBIQUE                           0
17           17  PERU                                 1
18           18  CHINA                                2
19           19  ROMANIA                              3
20           20  SAUDI ARABIA                         4
21           21  VIETNAM                              2
22           22  RUSSIA                               3
23           23  UNITED KINGDOM                       3
24           24  UNITED STATES                        1

                                            n_comment
0    haggle. carefully final deposits detect slyly...
1   al foxes promise slyly according to the regula...
2   y alongside of the pending deposits. carefully...
3   eas hang ironic, silent packages. slyly regula...
4   y above the carefully unusual theodolites. fin...
5                     ven packages wake quickly. regu
6              refully final requests. regular, ironi
7   l platelets. regular accounts x-ray: unusual, ...
8   ss excuses cajole slyly across the packages. d...
9    slyly express asymptotes. regular deposits ha...
10  efully alongside of the slyly final dependenci...
11  nic deposits boost atop the quickly final requ...
12               ously. final, express gifts cajole a
13  ic deposits are blithely about the carefully r...
14   pending excuses haggle furiously deposits. pe...
15  rns. blithely bold courts among the closely re...
16      s. ironic, unusual asymptotes wake blithely r
17  platelets. blithely pending dependencies use f...
18  c dependencies. furiously express notornis sle...
19  ular asymptotes are about the furious multipli...
20  ts. silent requests haggle. closely express pa...
21     hely enticingly express accounts. even, final
22   requests against the platelets use never acco...
23  eans boost carefully special requests. account...
24  y final packages. slow foxes cajole quickly. q...
neue tableinfo result TableInfo(data_object=    n_nationkey                     n_name  n_regionkey  \
0             0  ALGERIA                              0
1             1  ARGENTINA                            1
2             2  BRAZIL                               1
3             3  CANADA                               1
4             4  EGYPT                                4
5             5  ETHIOPIA                             0
6             6  FRANCE                               3
7             7  GERMANY                              3
8             8  INDIA                                2
9             9  INDONESIA                            2
10           10  IRAN                                 4
11           11  IRAQ                                 4
12           12  JAPAN                                2
13           13  JORDAN                               4
14           14  KENYA                                0
15           15  MOROCCO                              0
16           16  MOZAMBIQUE                           0
17           17  PERU                                 1
18           18  CHINA                                2
19           19  ROMANIA                              3
20           20  SAUDI ARABIA                         4
21           21  VIETNAM                              2
22           22  RUSSIA                               3
23           23  UNITED KINGDOM                       3
24           24  UNITED STATES                        1

                                            n_comment
0    haggle. carefully final deposits detect slyly...
1   al foxes promise slyly according to the regula...
2   y alongside of the pending deposits. carefully...
3   eas hang ironic, silent packages. slyly regula...
4   y above the carefully unusual theodolites. fin...
5                     ven packages wake quickly. regu
6              refully final requests. regular, ironi
7   l platelets. regular accounts x-ray: unusual, ...
8   ss excuses cajole slyly across the packages. d...
9    slyly express asymptotes. regular deposits ha...
10  efully alongside of the slyly final dependenci...
11  nic deposits boost atop the quickly final requ...
12               ously. final, express gifts cajole a
13  ic deposits are blithely about the carefully r...
14   pending excuses haggle furiously deposits. pe...
15  rns. blithely bold courts among the closely re...
16      s. ironic, unusual asymptotes wake blithely r
17  platelets. blithely pending dependencies use f...
18  c dependencies. furiously express notornis sle...
19  ular asymptotes are about the furious multipli...
20  ts. silent requests haggle. closely express pa...
21     hely enticingly express accounts. even, final
22   requests against the platelets use never acco...
23  eans boost carefully special requests. account...
24  y final packages. slow foxes cajole quickly. q...  , tracking_cols=['pg2_sf1_nation_ctid'], non_tracking_cols=['"n_nationkey"', '"n_name"', '"n_regionkey"', '"n_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None)
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz in sqllogic neu erstellung. finalcte_name  pg2_sf1_nation_1_mlinid0_ctid  and newTIRESULT  TableInfo(data_object=    n_nationkey                     n_name  n_regionkey  \
0             0  ALGERIA                              0
1             1  ARGENTINA                            1
2             2  BRAZIL                               1
3             3  CANADA                               1
4             4  EGYPT                                4
5             5  ETHIOPIA                             0
6             6  FRANCE                               3
7             7  GERMANY                              3
8             8  INDIA                                2
9             9  INDONESIA                            2
10           10  IRAN                                 4
11           11  IRAQ                                 4
12           12  JAPAN                                2
13           13  JORDAN                               4
14           14  KENYA                                0
15           15  MOROCCO                              0
16           16  MOZAMBIQUE                           0

√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente *args      p_partkey                                 p_name  \
0          782   peru firebrick coral chartreuse rosy
1          783         cyan turquoise azure pink dark
2          784   light smoke seashell snow chartreuse
3          785       coral saddle indian lime frosted
4          786      royal azure ivory moccasin salmon
..         ...                                    ...
995       1777    burnished black almond white violet
996       1778     honeydew sky salmon misty lavender
997       1779  rose wheat cream chartreuse goldenrod
998       1780          linen metallic smoke sky puff
999       1781          black indian forest hot olive

                        p_mfgr     p_brand                  p_type  p_size  \
0    Manufacturer#1             Brand#13      LARGE POLISHED BRASS      29
1    Manufacturer#1             Brand#13       SMALL PLATED NICKEL       4
2    Manufacturer#1             Brand#12     MEDIUM BRUSHED COPPER      47
3    Manufacturer#3             Brand#33        PROMO ANODIZED TIN      41
4    Manufacturer#2             Brand#23    STANDARD PLATED NICKEL      20
..                         ...         ...                     ...     ...
995  Manufacturer#3             Brand#33      ECONOMY PLATED STEEL      48
996  Manufacturer#3             Brand#32        SMALL ANODIZED TIN       9
997  Manufacturer#5             Brand#53        LARGE PLATED BRASS       9
998  Manufacturer#3             Brand#31       STANDARD PLATED TIN      38
999  Manufacturer#4             Brand#45      PROMO ANODIZED BRASS      11

    p_container  p_retailprice            p_comment
0    SM BAG            1682.78               hely u
1    MED DRUM          1683.78               ss acc
2    LG DRUM           1684.78      unts. furiously
3    SM PACK           1685.78        use carefully
4    SM PACK           1686.78               eodoli
..          ...            ...                  ...
995  WRAP JAR          1678.77     tructions haggle
996  JUMBO DRUM        1679.77              instruc
997  LG DRUM           1680.77      ithely special
998  JUMBO JAR         1681.78    gular requests. c
999  WRAP CAN          1682.78  sits; slyly regular

[1000 rows x 9 columns] ['p_partkey', 'p_mfgr', 'p_size', 'p_type']
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente  **kwargs
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º der split[0] p
√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂ sourcedf  part
√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂ caller_source_code  part[["p_partkey", "p_mfgr", "p_size", "p_type"]]
<_ast.Assign object at 0x000001963C9820D0>
vergleich astnode und last <_ast.Call object at 0x000001964578C4F0> <_ast.Assign object at 0x000001963C9820D0>
vergleich helpernode und last <_ast.Call object at 0x0000019645679D60> <_ast.Assign object at 0x000001963C9820D0>
dump lastop Assign(targets=[Name(id='res', ctx=Store())], value=Call(func=Attribute(value=Call(func=Attribute(value=Subscript(value=Name(id='sj', ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=105, kind=None), Constant(value=6, kind=None), Constant(value=105, kind=None), Constant(value=104, kind=None), Index(value=List(elts=[Constant(value='s_acctbal', kind=None), Constant(value='s_name', kind=None), Constant(value='n_name', kind=None), Constant(value='ps_partkey', kind=None), Constant(value='p_mfgr', kind=None), Constant(value='s_address', kind=None), Constant(value='s_phone', kind=None), Constant(value='s_comment', kind=None)], ctx=Load()))], keywords=[]), ctx=Load()), attr='sort_values', ctx=Load()), args=[List(elts=[Constant(value='s_acctbal', kind=None), Constant(value='n_name', kind=None), Constant(value='s_name', kind=None), Constant(value='ps_partkey', kind=None)], ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=105, kind=None), Constant(value=6, kind=None), Constant(value=105, kind=None), Constant(value=202, kind=None)], keywords=[keyword(arg='ascending', value=List(elts=[Constant(value=False, kind=None), Constant(value=True, kind=None), Constant(value=True, kind=None), Constant(value=True, kind=None)], ctx=Load()))]))]), attr='head', ctx=Load()), args=[Constant(value=100, kind=None)], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=105, kind=None), Constant(value=6, kind=None), Constant(value=105, kind=None), Constant(value=212, kind=None)], keywords=[]))]), type_comment=None)
dump call_helper_ast_node Call()
dump call_ast_node Call()
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º helper_source_code p = part[["p_partkey", "p_mfgr", "p_size", "p_type"]]
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º last_op_code res = sj[["s_acctbal", "s_name", "n_name", "ps_partkey", "p_mfgr", "s_address", "s_phone", "s_comment"]].sort_values(["s_acctbal", "n_name", "s_name", "ps_partkey"], ascending=[False, True, True, True]).head(100)
vergleich echt last_op False
vllt alte linenummer? 92
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_lineno 92
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper op_id 6
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_code_reference CodeReference(lineno=92, col_offset=4, end_lineno=92, end_col_offset=53)
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_source_code part[["p_partkey", "p_mfgr", "p_size", "p_type"]]
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_lineno 92
XXXXXXXXXXXXXXXXXXXXXXXXXXXX HEY √ñMER ICH BIN IN PY_TO_SQL_MAPPING XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
hier sind df to find      p_partkey                                 p_name  \
0          782   peru firebrick coral chartreuse rosy
1          783         cyan turquoise azure pink dark
2          784   light smoke seashell snow chartreuse
3          785       coral saddle indian lime frosted
4          786      royal azure ivory moccasin salmon
..         ...                                    ...
995       1777    burnished black almond white violet
996       1778     honeydew sky salmon misty lavender
997       1779  rose wheat cream chartreuse goldenrod
998       1780          linen metallic smoke sky puff
999       1781          black indian forest hot olive

                        p_mfgr     p_brand                  p_type  p_size  \
0    Manufacturer#1             Brand#13      LARGE POLISHED BRASS      29
1    Manufacturer#1             Brand#13       SMALL PLATED NICKEL       4
2    Manufacturer#1             Brand#12     MEDIUM BRUSHED COPPER      47
3    Manufacturer#3             Brand#33        PROMO ANODIZED TIN      41
4    Manufacturer#2             Brand#23    STANDARD PLATED NICKEL      20
..                         ...         ...                     ...     ...
995  Manufacturer#3             Brand#33      ECONOMY PLATED STEEL      48
996  Manufacturer#3             Brand#32        SMALL ANODIZED TIN       9
997  Manufacturer#5             Brand#53        LARGE PLATED BRASS       9
998  Manufacturer#3             Brand#31       STANDARD PLATED TIN      38
999  Manufacturer#4             Brand#45      PROMO ANODIZED BRASS      11

    p_container  p_retailprice            p_comment
0    SM BAG            1682.78               hely u
1    MED DRUM          1683.78               ss acc
2    LG DRUM           1684.78      unts. furiously
3    SM PACK           1685.78        use carefully
4    SM PACK           1686.78               eodoli
..          ...            ...                  ...
995  WRAP JAR          1678.77     tructions haggle
996  JUMBO DRUM        1679.77              instruc
997  LG DRUM           1680.77      ithely special
998  JUMBO JAR         1681.78    gular requests. c
999  WRAP CAN          1682.78  sits; slyly regular

[1000 rows x 9 columns] UND SELF     <mlinspect.to_sql.py_to_sql_mapping.DfToStringMapping object at 0x000001960AE594F0>
zzzzzzzzzzzzzzzzzz hier ist df_to_find      p_partkey                                 p_name  \
0          782   peru firebrick coral chartreuse rosy
1          783         cyan turquoise azure pink dark
2          784   light smoke seashell snow chartreuse
3          785       coral saddle indian lime frosted
4          786      royal azure ivory moccasin salmon
..         ...                                    ...
995       1777    burnished black almond white violet
996       1778     honeydew sky salmon misty lavender
997       1779  rose wheat cream chartreuse goldenrod
998       1780          linen metallic smoke sky puff
999       1781          black indian forest hot olive

                        p_mfgr     p_brand                  p_type  p_size  \
0    Manufacturer#1             Brand#13      LARGE POLISHED BRASS      29
1    Manufacturer#1             Brand#13       SMALL PLATED NICKEL       4
2    Manufacturer#1             Brand#12     MEDIUM BRUSHED COPPER      47
3    Manufacturer#3             Brand#33        PROMO ANODIZED TIN      41
4    Manufacturer#2             Brand#23    STANDARD PLATED NICKEL      20
..                         ...         ...                     ...     ...
995  Manufacturer#3             Brand#33      ECONOMY PLATED STEEL      48
996  Manufacturer#3             Brand#32        SMALL ANODIZED TIN       9
997  Manufacturer#5             Brand#53        LARGE PLATED BRASS       9
998  Manufacturer#3             Brand#31       STANDARD PLATED TIN      38
999  Manufacturer#4             Brand#45      PROMO ANODIZED BRASS      11

    p_container  p_retailprice            p_comment
0    SM BAG            1682.78               hely u
1    MED DRUM          1683.78               ss acc
2    LG DRUM           1684.78      unts. furiously
3    SM PACK           1685.78        use carefully
4    SM PACK           1686.78               eodoli
..          ...            ...                  ...
995  WRAP JAR          1678.77     tructions haggle
996  JUMBO DRUM        1679.77              instruc
997  LG DRUM           1680.77      ithely special
998  JUMBO JAR         1681.78    gular requests. c
999  WRAP CAN          1682.78  sits; slyly regular

[1000 rows x 9 columns]
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid5_6', TableInfo(data_object=     ps_partkey  ps_suppkey  ps_supplycost
0           181        7682         657.25
1           182         183         535.27
2           182        2683         519.36
3           182        5183         741.46
4           182        7683         365.00
..          ...         ...            ...
995         429        2930         787.57
996         429        5430          43.51
997         429        7930         312.91
998         430         431         483.73
999         430        2931         357.47

[1000 rows x 3 columns], tracking_cols=['pg2_sf1_partsupp_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_supplycost"'], operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964583AB20>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_partsupp_5_mlinid4_ctid', TableInfo(data_object=     ps_partkey  ps_suppkey  ps_availqty  ps_supplycost  \
0           181        7682         1122         657.25
1           182         183         9699         535.27
2           182        2683          960         519.36
3           182        5183         6243         741.46
4           182        7683         6146         365.00
..          ...         ...          ...            ...
995         429        2930         6398         787.57
996         429        5430         3641          43.51
997         429        7930         9468         312.91
998         430         431           15         483.73
999         430        2931         7890         357.47

                                            ps_comment
0    lyly fluffily pending foxes. fluffily ironic p...
1    ound the furiously regular foxes. pending requ...
2    arefully pending dependencies are always slyly...
3    accounts are slyly. furiously ironic requests ...
4    s. blithely express theodolites sleep blithely...
..                                                 ...
995  regular theodolites. quickly bold accounts nag...
996  riously. slyly stealthy packages integrate sly...
997   final requests. regular, ironic dolphins slee...
998  elets. slyly pending dependencies impress spec...
999  nding packages cajole along the requests. care...

[1000 rows x 5 columns], tracking_cols=['pg2_sf1_partsupp_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_availqty"', '"ps_supplycost"', '"ps_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_region_4_mlinid3_ctid', TableInfo(data_object=   r_regionkey                     r_name  \
0            0  AFRICA
1            1  AMERICA
2            2  ASIA
3            3  EUROPE
4            4  MIDDLE EAST

                                           r_comment
0  lar deposits. blithely final packages cajole. ...
1                    hs use ironic, even requests. s
2                    ges. thinly even pinto beans ca
3      ly final courts cajole furiously final excuse
4  uickly special accounts cajole carefully blith...  , tracking_cols=['pg2_sf1_region_ctid'], non_tracking_cols=['"r_regionkey"', '"r_name"', '"r_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_supplier_3_mlinid2_ctid', TableInfo(data_object=     s_suppkey                     s_name  \
0            1  Supplier#000000001
1            2  Supplier#000000002
2            3  Supplier#000000003
3            4  Supplier#000000004
4            5  Supplier#000000005
..         ...                        ...
995        991  Supplier#000000991
996        992  Supplier#000000992
997        995  Supplier#000000995
998        996  Supplier#000000996
999        997  Supplier#000000997

                               s_address  s_nationkey          s_phone  \
0     N kD4on9OM Ipw3,gf0JBoQDd7tgrzrddZ           17  27-918-335-1736
1                  89eJ5ksX3ImxJQBvxObC,            5  15-679-861-2259
2      q1,G3Pj6OjIuUYfUoH18BFTKP5aU9bEV3            1  11-383-516-1199
3              Bk7ah4CK8SYQTepEmvMkkgMwg           15  25-843-787-7479
4                      Gcdm2rJRzl5qlTVzc           11  21-151-690-3663
..                                   ...          ...              ...
995                  Bh4Danx VvUpMce x42           16  26-793-462-2874
996                iZPAlGecV0uUsxMikQG7s            2  12-663-356-1288
997                    CgVUX8DtNbtug2M,N           18  28-180-818-2912
998                 Wx4dQwOAwWjfSCGupfrM            7  17-447-811-3282
999  7eUWMrOCKCp2JYas6P4mL93eaWIOtKKWtTX            3  13-221-322-7971

     s_acctbal                                          s_comment
0      5755.94                       each slyly above the careful
1      4032.68             slyly bold instructions. idle dependen
2      4192.40  blithely silent requests after the express dep...
3      4641.08                riously even requests above the exp
4      -283.84                          . slyly regular pinto bea
..         ...                                                ...
995    4026.14      foxes are slyly above the furiously express t
996    4379.45  silent packages. quickly regular requests agai...
997    9025.90          s nag. furiously even theodolites cajole.
998    6329.90                 ironic forges cajole blithely agai
999    3659.56  y regular excuses boost slyly furiously final ...

[1000 rows x 7 columns], tracking_cols=['pg2_sf1_supplier_ctid'], non_tracking_cols=['"s_suppkey"', '"s_name"', '"s_address"', '"s_nationkey"', '"s_phone"', '"s_acctbal"', '"s_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_part_2_mlinid1_ctid', TableInfo(data_object=     p_partkey                                 p_name  \
0          782   peru firebrick coral chartreuse rosy
1          783         cyan turquoise azure pink dark
2          784   light smoke seashell snow chartreuse
3          785       coral saddle indian lime frosted
4          786      royal azure ivory moccasin salmon
..         ...                                    ...
995       1777    burnished black almond white violet
996       1778     honeydew sky salmon misty lavender
997       1779  rose wheat cream chartreuse goldenrod
998       1780          linen metallic smoke sky puff
999       1781          black indian forest hot olive

                        p_mfgr     p_brand                  p_type  p_size  \
0    Manufacturer#1             Brand#13      LARGE POLISHED BRASS      29
1    Manufacturer#1             Brand#13       SMALL PLATED NICKEL       4
2    Manufacturer#1             Brand#12     MEDIUM BRUSHED COPPER      47
3    Manufacturer#3             Brand#33        PROMO ANODIZED TIN      41
4    Manufacturer#2             Brand#23    STANDARD PLATED NICKEL      20
..                         ...         ...                     ...     ...
995  Manufacturer#3             Brand#33      ECONOMY PLATED STEEL      48
996  Manufacturer#3             Brand#32        SMALL ANODIZED TIN       9
997  Manufacturer#5             Brand#53        LARGE PLATED BRASS       9
998  Manufacturer#3             Brand#31       STANDARD PLATED TIN      38
999  Manufacturer#4             Brand#45      PROMO ANODIZED BRASS      11

    p_container  p_retailprice            p_comment
0    SM BAG            1682.78               hely u
1    MED DRUM          1683.78               ss acc
2    LG DRUM           1684.78      unts. furiously
3    SM PACK           1685.78        use carefully
4    SM PACK           1686.78               eodoli
..          ...            ...                  ...
995  WRAP JAR          1678.77     tructions haggle
996  JUMBO DRUM        1679.77              instruc
997  LG DRUM           1680.77      ithely special
998  JUMBO JAR         1681.78    gular requests. c
999  WRAP CAN          1682.78  sits; slyly regular

[1000 rows x 9 columns], tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols=['"p_partkey"', '"p_name"', '"p_mfgr"', '"p_brand"', '"p_type"', '"p_size"', '"p_container"', '"p_retailprice"', '"p_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_nation_1_mlinid0_ctid', TableInfo(data_object=    n_nationkey                     n_name  n_regionkey  \
0             0  ALGERIA                              0
1             1  ARGENTINA                            1
2             2  BRAZIL                               1
3             3  CANADA                               1
4             4  EGYPT                                4
5             5  ETHIOPIA                             0
6             6  FRANCE                               3
7             7  GERMANY                              3
8             8  INDIA                                2
9             9  INDONESIA                            2
10           10  IRAN                                 4
11           11  IRAQ                                 4
12           12  JAPAN                                2
13           13  JORDAN                               4
14           14  KENYA                                0
15           15  MOROCCO                              0

result  0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: op_14, Length: 1000, dtype: bool
tracking_cols  ['pg2_sf1_part_ctid']
non_tracking_cols  None
origin_context  <mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964586AEE0>
cte_name
PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP  Hier sind wir in Wrap_in_sql_obj in sql_logic PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
sqlcode SELECT ((("p_size") = (15)) AND (("p_type") LIKE ('%BRASS'))) AS op_14, pg2_sf1_part_ctid
FROM pg2_sf1_part_2_mlinid1_ctid
block_name
Und hier ist das ergebnis der beiden werte
sqlcode  CREATE VIEW block_mlinid11_15 AS (
	SELECT ((("p_size") = (15)) AND (("p_type") LIKE ('%BRASS'))) AS op_14, pg2_sf1_part_ctid
	FROM pg2_sf1_part_2_mlinid1_ctid
);

block_name  block_mlinid11_15
Hier will ich kurz wissen ob die Tableinfo ver√§ndert wurde
altes result tableinfo 0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: op_14, Length: 1000, dtype: bool
neue tableinfo result TableInfo(data_object=0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: op_14, Length: 1000, dtype: bool, tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"op_14"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964586AEE0>)
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz in sqllogic neu erstellung. finalcte_name  block_mlinid11_15  and newTIRESULT  TableInfo(data_object=0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: op_14, Length: 1000, dtype: bool, tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"op_14"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964586AEE0>)
EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE herausfinden was mit dem mittleren trash ist. new_dfInfo  DfInfo(dfName='', tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"op_14"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964586AEE0>, helper_source_code='    part[\'p_type\'].str.match(".*BRASS$")')
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz momentaner zustand len(viewmapping)  10  viewmapping  [('block_mlinid11_15', DfInfo(dfName='', tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"op_14"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964586AEE0>, helper_source_code='    part[\'p_type\'].str.match(".*BRASS$")')), ('block_mlinid10_13', DfInfo(dfName='', tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"op_12"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964586AFD0>, helper_source_code='    part[\'p_type\'].str.match(".*BRASS$")')), ('block_mlinid9_11', DfInfo(dfName='', tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"p_type"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019644DF9F40>, helper_source_code="    part['p_type']")), ('block_mlinid6_7', DfInfo(dfName='p ', tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols=['"p_partkey"', '"p_mfgr"', '"p_size"', '"p_type"'], operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964583A4C0>, helper_source_code='p = part[["p_partkey", "p_mfgr", "p_size", "p_type"]]')), ('block_mlinid5_6', DfInfo(dfName='ps ', tracking_cols=['pg2_sf1_partsupp_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_supplycost"'], operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964583AB20>, helper_source_code='ps = partsupp[["ps_partkey", "ps_suppkey", "ps_supplycost"]]')), ('pg2_sf1_partsupp_5_mlinid4_ctid', DfInfo(dfName='    df ', tracking_cols=['pg2_sf1_partsupp_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_availqty"', '"ps_supplycost"', '"ps_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None, helper_source_code="    df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,\n                         dbms_connector_p.connection, parse_dates=parse_dates)")), ('pg2_sf1_region_4_mlinid3_ctid', DfInfo(dfName='    df ', tracking_cols=['pg2_sf1_region_ctid'], non_tracking_cols=['"r_regionkey"', '"r_name"', '"r_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None, helper_source_code="    df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,\n                         dbms_connector_p.connection, parse_dates=parse_dates)")), ('pg2_sf1_supplier_3_mlinid2_ctid', DfInfo(dfName='    df ', tracking_cols=['pg2_sf1_supplier_ctid'], non_tracking_cols=['"s_suppkey"', '"s_name"', '"s_address"', '"s_nationkey"', '"s_phone"', '"s_acctbal"', '"s_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None, helper_source_code="    df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,\n                         dbms_connector_p.connection, parse_dates=parse_dates)")), ('pg2_sf1_part_2_mlinid1_ctid', DfInfo(dfName='    df ', tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols=['"p_partkey"', '"p_name"', '"p_mfgr"', '"p_brand"', '"p_type"', '"p_size"', '"p_container"', '"p_retailprice"', '"p_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None, helper_source_code="    df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,\n                         dbms_connector_p.connection, parse_dates=parse_dates)")), ('pg2_sf1_nation_1_mlinid0_ctid', DfInfo(dfName='    df ', tracking_cols=['pg2_sf1_nation_ctid'], non_tracking_cols=['"n_nationkey"', '"n_name"', '"n_regionkey"', '"n_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None, helper_source_code="    df = pd.read_sql_query('SELECT * FROM pg2_sf'+str(sf)+'_'+table,\n                         dbms_connector_p.connection, parse_dates=parse_dates)"))]
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz momentaner zustand len(mapping)  12  mapping
block_mlinid11_15
block_mlinid10_13
block_mlinid9_11
block_mlinid8_10
block_mlinid7_8
block_mlinid6_7
block_mlinid5_6
pg2_sf1_partsupp_5_mlinid4_ctid
pg2_sf1_region_4_mlinid3_ctid
pg2_sf1_supplier_3_mlinid2_ctid
pg2_sf1_part_2_mlinid1_ctid
pg2_sf1_nation_1_mlinid0_ctid
SQL_CODE LLL  CREATE VIEW block_mlinid11_15 AS (
	SELECT ((("p_size") = (15)) AND (("p_type") LIKE ('%BRASS'))) AS op_14, pg2_sf1_part_ctid
	FROM pg2_sf1_part_2_mlinid1_ctid
);

Hier sind die attribute am ende von finish_sql_call
sqlcode  CREATE VIEW block_mlinid11_15 AS (
	SELECT ((("p_size") = (15)) AND (("p_type") LIKE ('%BRASS'))) AS op_14, pg2_sf1_part_ctid
	FROM pg2_sf1_part_2_mlinid1_ctid
);

tracking_cols  ['pg2_sf1_part_ctid']
non_tracking_cols  "op_14"
origin_context  <mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964586AEE0>
final_cte_name  block_mlinid11_15
666666666666666666666 sql_code CREATE VIEW block_mlinid11_15 AS (
	SELECT ((("p_size") = (15)) AND (("p_type") LIKE ('%BRASS'))) AS op_14, pg2_sf1_part_ctid
	FROM pg2_sf1_part_2_mlinid1_ctid
);

55555555555555555555555555555 letzte line
SELECT op_14 FROM block_mlinid11_15;
7777777777777777777 select_line
SELECT op_14 FROM block_mlinid11_15;
88888888888888888888 pipeline_query ['CREATE VIEW pg2_sf1_nation_1_mlinid0_ctid AS (\n\tSELECT *, ctid AS pg2_sf1_nation_ctid\n\tFROM pg2_sf1_nation\n);\n', 'CREATE VIEW pg2_sf1_part_2_mlinid1_ctid AS (\n\tSELECT *, ctid AS pg2_sf1_part_ctid\n\tFROM pg2_sf1_part\n);\n', 'CREATE VIEW pg2_sf1_supplier_3_mlinid2_ctid AS (\n\tSELECT *, ctid AS pg2_sf1_supplier_ctid\n\tFROM pg2_sf1_supplier\n);\n', 'CREATE VIEW pg2_sf1_region_4_mlinid3_ctid AS (\n\tSELECT *, ctid AS pg2_sf1_region_ctid\n\tFROM pg2_sf1_region\n);\n', 'CREATE VIEW pg2_sf1_partsupp_5_mlinid4_ctid AS (\n\tSELECT *, ctid AS pg2_sf1_partsupp_ctid\n\tFROM pg2_sf1_partsupp\n);\n', 'CREATE VIEW block_mlinid5_6 AS (\n\tSELECT "ps_partkey", "ps_suppkey", "ps_supplycost", pg2_sf1_partsupp_ctid\n\tFROM pg2_sf1_partsupp_5_mlinid4_ctid\n);\n', 'CREATE VIEW block_mlinid6_7 AS (\n\tSELECT "p_partkey", "p_mfgr", "p_size", "p_type", pg2_sf1_part_ctid\n\tFROM pg2_sf1_part_2_mlinid1_ctid\n);\n', 'CREATE VIEW block_mlinid7_8 AS (\n\tSELECT "p_size", pg2_sf1_part_ctid\n\tFROM pg2_sf1_part_2_mlinid1_ctid\n);\n', 'CREATE VIEW block_mlinid8_10 AS (\n\tSELECT ("p_size") = (15) AS op_9, pg2_sf1_part_ctid\n\tFROM pg2_sf1_part_2_mlinid1_ctid\n);\n', 'CREATE VIEW block_mlinid9_11 AS (\n\tSELECT "p_type", pg2_sf1_part_ctid\n\tFROM pg2_sf1_part_2_mlinid1_ctid\n);\n', 'CREATE VIEW block_mlinid10_13 AS (\n\tSELECT ("p_type") LIKE (\'%BRASS\') AS op_12, pg2_sf1_part_ctid\n\tFROM pg2_sf1_part_2_mlinid1_ctid\n);\n', 'CREATE VIEW block_mlinid11_15 AS (\n\tSELECT ((("p_size") = (15)) AND (("p_type") LIKE (\'%BRASS\'))) AS op_14, pg2_sf1_part_ctid\n\tFROM pg2_sf1_part_2_mlinid1_ctid\n);\n', '\nSELECT op_14 FROM block_mlinid11_15;']
TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT2
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º ergebnis_source_code p = part[["p_partkey", "p_mfgr", "p_size", "p_type"]][(part['p_size'] == 15) & (
    part['p_type'].str.match(".*BRASS$"))]
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º caller_source_code in monkeypatching,  part[["p_partkey", "p_mfgr", "p_size", "p_type"]][(part['p_size'] == 15) & (
    part['p_type'].str.match(".*BRASS$"))]
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente Original_func <function DataFrame.__getitem__ at 0x0000019622CDB940>
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente execute_inspections_func <function DataFramePatchingSQL.patched__getitem__.<locals>.execute_inspections at 0x00000196451323A0>
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente *args      p_partkey                     p_mfgr  p_size                  p_type
0          782  Manufacturer#1                 29    LARGE POLISHED BRASS
1          783  Manufacturer#1                  4     SMALL PLATED NICKEL
2          784  Manufacturer#1                 47   MEDIUM BRUSHED COPPER
3          785  Manufacturer#3                 41      PROMO ANODIZED TIN
4          786  Manufacturer#2                 20  STANDARD PLATED NICKEL
..         ...                        ...     ...                     ...
995       1777  Manufacturer#3                 48    ECONOMY PLATED STEEL
996       1778  Manufacturer#3                  9      SMALL ANODIZED TIN
997       1779  Manufacturer#5                  9      LARGE PLATED BRASS
998       1780  Manufacturer#3                 38     STANDARD PLATED TIN
999       1781  Manufacturer#4                 11    PROMO ANODIZED BRASS

[1000 rows x 4 columns] 0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: op_14, Length: 1000, dtype: bool
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º alle argumente  **kwargs
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º der split[0] p
√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂ sourcedf  part
√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂√∂ caller_source_code  part[["p_partkey", "p_mfgr", "p_size", "p_type"]][(part['p_size'] == 15) & (
    part['p_type'].str.match(".*BRASS$"))]
<_ast.Assign object at 0x000001963C9820D0>
vergleich astnode und last <_ast.Call object at 0x000001964586A6D0> <_ast.Assign object at 0x000001963C9820D0>
vergleich helpernode und last <_ast.Call object at 0x0000019645861FA0> <_ast.Assign object at 0x000001963C9820D0>
dump lastop Assign(targets=[Name(id='res', ctx=Store())], value=Call(func=Attribute(value=Call(func=Attribute(value=Subscript(value=Name(id='sj', ctx=Load()), slice=Call(func=Name(id='set_code_reference_subscript', ctx=Load()), args=[Constant(value=105, kind=None), Constant(value=6, kind=None), Constant(value=105, kind=None), Constant(value=104, kind=None), Index(value=List(elts=[Constant(value='s_acctbal', kind=None), Constant(value='s_name', kind=None), Constant(value='n_name', kind=None), Constant(value='ps_partkey', kind=None), Constant(value='p_mfgr', kind=None), Constant(value='s_address', kind=None), Constant(value='s_phone', kind=None), Constant(value='s_comment', kind=None)], ctx=Load()))], keywords=[]), ctx=Load()), attr='sort_values', ctx=Load()), args=[List(elts=[Constant(value='s_acctbal', kind=None), Constant(value='n_name', kind=None), Constant(value='s_name', kind=None), Constant(value='ps_partkey', kind=None)], ctx=Load())], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=105, kind=None), Constant(value=6, kind=None), Constant(value=105, kind=None), Constant(value=202, kind=None)], keywords=[keyword(arg='ascending', value=List(elts=[Constant(value=False, kind=None), Constant(value=True, kind=None), Constant(value=True, kind=None), Constant(value=True, kind=None)], ctx=Load()))]))]), attr='head', ctx=Load()), args=[Constant(value=100, kind=None)], keywords=[keyword(arg=None, value=Call(func=Name(id='set_code_reference_call', ctx=Load()), args=[Constant(value=105, kind=None), Constant(value=6, kind=None), Constant(value=105, kind=None), Constant(value=212, kind=None)], keywords=[]))]), type_comment=None)
dump call_helper_ast_node Call()
dump call_ast_node Call()
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º helper_source_code p = part[["p_partkey", "p_mfgr", "p_size", "p_type"]][(part['p_size'] == 15) & (
    part['p_type'].str.match(".*BRASS$"))]
√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º√º last_op_code res = sj[["s_acctbal", "s_name", "n_name", "ps_partkey", "p_mfgr", "s_address", "s_phone", "s_comment"]].sort_values(["s_acctbal", "n_name", "s_name", "ps_partkey"], ascending=[False, True, True, True]).head(100)
vergleich echt last_op False
vllt alte linenummer? 92
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_lineno 92
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper op_id 12
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_code_reference CodeReference(lineno=92, col_offset=4, end_lineno=93, end_col_offset=42)
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_source_code part[["p_partkey", "p_mfgr", "p_size", "p_type"]][(part['p_size'] == 15) & (
    part['p_type'].str.match(".*BRASS$"))]
mmmmmmmmmmmmmmmmmmmmmmmmmmmm in monkeypatching f√ºr op_helper caller_lineno 92
XXXXXXXXXXXXXXXXXXXXXXXXXXXX HEY √ñMER ICH BIN IN PY_TO_SQL_MAPPING XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
hier sind df to find      p_partkey                     p_mfgr  p_size                  p_type
0          782  Manufacturer#1                 29    LARGE POLISHED BRASS
1          783  Manufacturer#1                  4     SMALL PLATED NICKEL
2          784  Manufacturer#1                 47   MEDIUM BRUSHED COPPER
3          785  Manufacturer#3                 41      PROMO ANODIZED TIN
4          786  Manufacturer#2                 20  STANDARD PLATED NICKEL
..         ...                        ...     ...                     ...
995       1777  Manufacturer#3                 48    ECONOMY PLATED STEEL
996       1778  Manufacturer#3                  9      SMALL ANODIZED TIN
997       1779  Manufacturer#5                  9      LARGE PLATED BRASS
998       1780  Manufacturer#3                 38     STANDARD PLATED TIN
999       1781  Manufacturer#4                 11    PROMO ANODIZED BRASS

[1000 rows x 4 columns] UND SELF     <mlinspect.to_sql.py_to_sql_mapping.DfToStringMapping object at 0x000001960AE594F0>
zzzzzzzzzzzzzzzzzz hier ist df_to_find      p_partkey                     p_mfgr  p_size                  p_type
0          782  Manufacturer#1                 29    LARGE POLISHED BRASS
1          783  Manufacturer#1                  4     SMALL PLATED NICKEL
2          784  Manufacturer#1                 47   MEDIUM BRUSHED COPPER
3          785  Manufacturer#3                 41      PROMO ANODIZED TIN
4          786  Manufacturer#2                 20  STANDARD PLATED NICKEL
..         ...                        ...     ...                     ...
995       1777  Manufacturer#3                 48    ECONOMY PLATED STEEL
996       1778  Manufacturer#3                  9      SMALL ANODIZED TIN
997       1779  Manufacturer#5                  9      LARGE PLATED BRASS
998       1780  Manufacturer#3                 38     STANDARD PLATED TIN
999       1781  Manufacturer#4                 11    PROMO ANODIZED BRASS

[1000 rows x 4 columns]
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid11_15', TableInfo(data_object=0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: op_14, Length: 1000, dtype: bool, tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"op_14"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964586AEE0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid10_13', TableInfo(data_object=0       True
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997     True
998    False
999     True
Name: op_12, Length: 1000, dtype: bool, tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"op_12"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964586AFD0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid9_11', TableInfo(data_object=0        LARGE POLISHED BRASS
1         SMALL PLATED NICKEL
2       MEDIUM BRUSHED COPPER
3          PROMO ANODIZED TIN
4      STANDARD PLATED NICKEL
                ...
995      ECONOMY PLATED STEEL
996        SMALL ANODIZED TIN
997        LARGE PLATED BRASS
998       STANDARD PLATED TIN
999      PROMO ANODIZED BRASS
Name: p_type, Length: 1000, dtype: object, tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"p_type"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019644DF9F40>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid8_10', TableInfo(data_object=0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: op_9, Length: 1000, dtype: bool, tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"op_9"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019645858C10>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid7_8', TableInfo(data_object=0      29
1       4
2      47
3      41
4      20
       ..
995    48
996     9
997     9
998    38
999    11

zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid11_15', TableInfo(data_object=0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: op_14, Length: 1000, dtype: bool, tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"op_14"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964586AEE0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid10_13', TableInfo(data_object=0       True
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997     True
998    False
999     True
Name: op_12, Length: 1000, dtype: bool, tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"op_12"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964586AFD0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid9_11', TableInfo(data_object=0        LARGE POLISHED BRASS
1         SMALL PLATED NICKEL
2       MEDIUM BRUSHED COPPER
3          PROMO ANODIZED TIN
4      STANDARD PLATED NICKEL
                ...
995      ECONOMY PLATED STEEL
996        SMALL ANODIZED TIN
997        LARGE PLATED BRASS
998       STANDARD PLATED TIN
999      PROMO ANODIZED BRASS
Name: p_type, Length: 1000, dtype: object, tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"p_type"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019644DF9F40>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid8_10', TableInfo(data_object=0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: op_9, Length: 1000, dtype: bool, tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"op_9"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019645858C10>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid7_8', TableInfo(data_object=0      29
1       4
2      47
3      41
4      20
       ..
995    48
996     9
997     9
998    38
999    11
Name: p_size, Length: 1000, dtype: int64, tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols='"p_size"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964583AF10>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid6_7', TableInfo(data_object=     p_partkey                     p_mfgr  p_size                  p_type
0          782  Manufacturer#1                 29    LARGE POLISHED BRASS
1          783  Manufacturer#1                  4     SMALL PLATED NICKEL
2          784  Manufacturer#1                 47   MEDIUM BRUSHED COPPER
3          785  Manufacturer#3                 41      PROMO ANODIZED TIN
4          786  Manufacturer#2                 20  STANDARD PLATED NICKEL
..         ...                        ...     ...                     ...
995       1777  Manufacturer#3                 48    ECONOMY PLATED STEEL
996       1778  Manufacturer#3                  9      SMALL ANODIZED TIN
997       1779  Manufacturer#5                  9      LARGE PLATED BRASS
998       1780  Manufacturer#3                 38     STANDARD PLATED TIN
999       1781  Manufacturer#4                 11    PROMO ANODIZED BRASS

[1000 rows x 4 columns], tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols=['"p_partkey"', '"p_mfgr"', '"p_size"', '"p_type"'], operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964583A4C0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid5_6', TableInfo(data_object=     ps_partkey  ps_suppkey  ps_supplycost
0           181        7682         657.25
1           182         183         535.27
2           182        2683         519.36
3           182        5183         741.46
4           182        7683         365.00
..          ...         ...            ...
995         429        2930         787.57
996         429        5430          43.51
997         429        7930         312.91
998         430         431         483.73
999         430        2931         357.47

[1000 rows x 3 columns], tracking_cols=['pg2_sf1_partsupp_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_supplycost"'], operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964583AB20>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_partsupp_5_mlinid4_ctid', TableInfo(data_object=     ps_partkey  ps_suppkey  ps_availqty  ps_supplycost  \
0           181        7682         1122         657.25
1           182         183         9699         535.27
2           182        2683          960         519.36
3           182        5183         6243         741.46
4           182        7683         6146         365.00
..          ...         ...          ...            ...
995         429        2930         6398         787.57
996         429        5430         3641          43.51
997         429        7930         9468         312.91
998         430         431           15         483.73
999         430        2931         7890         357.47

                                            ps_comment
0    lyly fluffily pending foxes. fluffily ironic p...
1    ound the furiously regular foxes. pending requ...
2    arefully pending dependencies are always slyly...
3    accounts are slyly. furiously ironic requests ...
4    s. blithely express theodolites sleep blithely...
..                                                 ...
995  regular theodolites. quickly bold accounts nag...
996  riously. slyly stealthy packages integrate sly...
997   final requests. regular, ironic dolphins slee...
998  elets. slyly pending dependencies impress spec...
999  nding packages cajole along the requests. care...

[1000 rows x 5 columns], tracking_cols=['pg2_sf1_partsupp_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_availqty"', '"ps_supplycost"', '"ps_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_region_4_mlinid3_ctid', TableInfo(data_object=   r_regionkey                     r_name  \
0            0  AFRICA
1            1  AMERICA
2            2  ASIA
3            3  EUROPE
4            4  MIDDLE EAST

                                           r_comment
0  lar deposits. blithely final packages cajole. ...
1                    hs use ironic, even requests. s
2                    ges. thinly even pinto beans ca
3      ly final courts cajole furiously final excuse
4  uickly special accounts cajole carefully blith...  , tracking_cols=['pg2_sf1_region_ctid'], non_tracking_cols=['"r_regionkey"', '"r_name"', '"r_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_supplier_3_mlinid2_ctid', TableInfo(data_object=     s_suppkey                     s_name  \
0            1  Supplier#000000001
1            2  Supplier#000000002
2            3  Supplier#000000003
3            4  Supplier#000000004
4            5  Supplier#000000005
..         ...                        ...
995        991  Supplier#000000991
996        992  Supplier#000000992
997        995  Supplier#000000995
998        996  Supplier#000000996
999        997  Supplier#000000997

                               s_address  s_nationkey          s_phone  \
0     N kD4on9OM Ipw3,gf0JBoQDd7tgrzrddZ           17  27-918-335-1736
1                  89eJ5ksX3ImxJQBvxObC,            5  15-679-861-2259
2      q1,G3Pj6OjIuUYfUoH18BFTKP5aU9bEV3            1  11-383-516-1199
3              Bk7ah4CK8SYQTepEmvMkkgMwg           15  25-843-787-7479
4                      Gcdm2rJRzl5qlTVzc           11  21-151-690-3663
..                                   ...          ...              ...
995                  Bh4Danx VvUpMce x42           16  26-793-462-2874
996                iZPAlGecV0uUsxMikQG7s            2  12-663-356-1288
997                    CgVUX8DtNbtug2M,N           18  28-180-818-2912
998                 Wx4dQwOAwWjfSCGupfrM            7  17-447-811-3282
999  7eUWMrOCKCp2JYas6P4mL93eaWIOtKKWtTX            3  13-221-322-7971

     s_acctbal                                          s_comment
0      5755.94                       each slyly above the careful
1      4032.68             slyly bold instructions. idle dependen
2      4192.40  blithely silent requests after the express dep...
3      4641.08                riously even requests above the exp
4      -283.84                          . slyly regular pinto bea
..         ...                                                ...
995    4026.14      foxes are slyly above the furiously express t
996    4379.45  silent packages. quickly regular requests agai...
997    9025.90          s nag. furiously even theodolites cajole.
998    6329.90                 ironic forges cajole blithely agai
999    3659.56  y regular excuses boost slyly furiously final ...

[1000 rows x 7 columns], tracking_cols=['pg2_sf1_supplier_ctid'], non_tracking_cols=['"s_suppkey"', '"s_name"', '"s_address"', '"s_nationkey"', '"s_phone"', '"s_acctbal"', '"s_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_part_2_mlinid1_ctid', TableInfo(data_object=     p_partkey                                 p_name  \
0          782   peru firebrick coral chartreuse rosy
1          783         cyan turquoise azure pink dark
2          784   light smoke seashell snow chartreuse
3          785       coral saddle indian lime frosted
4          786      royal azure ivory moccasin salmon
..         ...                                    ...
995       1777    burnished black almond white violet
996       1778     honeydew sky salmon misty lavender
997       1779  rose wheat cream chartreuse goldenrod
998       1780          linen metallic smoke sky puff
999       1781          black indian forest hot olive

                        p_mfgr     p_brand                  p_type  p_size  \
0    Manufacturer#1             Brand#13      LARGE POLISHED BRASS      29
1    Manufacturer#1             Brand#13       SMALL PLATED NICKEL       4
2    Manufacturer#1             Brand#12     MEDIUM BRUSHED COPPER      47
3    Manufacturer#3             Brand#33        PROMO ANODIZED TIN      41
4    Manufacturer#2             Brand#23    STANDARD PLATED NICKEL      20
..                         ...         ...                     ...     ...
995  Manufacturer#3             Brand#33      ECONOMY PLATED STEEL      48
996  Manufacturer#3             Brand#32        SMALL ANODIZED TIN       9
997  Manufacturer#5             Brand#53        LARGE PLATED BRASS       9
998  Manufacturer#3             Brand#31       STANDARD PLATED TIN      38
999  Manufacturer#4             Brand#45      PROMO ANODIZED BRASS      11

    p_container  p_retailprice            p_comment
0    SM BAG            1682.78               hely u
1    MED DRUM          1683.78               ss acc
2    LG DRUM           1684.78      unts. furiously
3    SM PACK           1685.78        use carefully
4    SM PACK           1686.78               eodoli
..          ...            ...                  ...
995  WRAP JAR          1678.77     tructions haggle
996  JUMBO DRUM        1679.77              instruc
997  LG DRUM           1680.77      ithely special
998  JUMBO JAR         1681.78    gular requests. c
999  WRAP CAN          1682.78  sits; slyly regular

[1000 rows x 9 columns], tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols=['"p_partkey"', '"p_name"', '"p_mfgr"', '"p_brand"', '"p_type"', '"p_size"', '"p_container"', '"p_retailprice"', '"p_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_nation_1_mlinid0_ctid', TableInfo(data_object=    n_nationkey                     n_name  n_regionkey  \
0             0  ALGERIA                              0
1             1  ARGENTINA                            1
2             2  BRAZIL                               1
3             3  CANADA                               1
4             4  EGYPT                                4
5             5  ETHIOPIA                             0
6             6  FRANCE                               3
7             7  GERMANY                              3
8             8  INDIA                                2
9             9  INDONESIA                            2
10           10  IRAN                                 4
11           11  IRAQ                                 4
12           12  JAPAN                                2
13           13  JORDAN                               4
14           14  KENYA                                0
15           15  MOROCCO                              0
16           16  MOZAMBIQUE                           0
17           17  PERU                                 1
18           18  CHINA                                2
19           19  ROMANIA                              3
20           20  SAUDI ARABIA                         4
21           21  VIETNAM                              2
22           22  RUSSIA                               3
23           23  UNITED KINGDOM                       3
24           24  UNITED STATES                        1

                                            n_comment
0    haggle. carefully final deposits detect slyly...
1   al foxes promise slyly according to the regula...
2   y alongside of the pending deposits. carefully...
3   eas hang ironic, silent packages. slyly regula...
4   y above the carefully unusual theodolites. fin...
5                     ven packages wake quickly. regu
6              refully final requests. regular, ironi
7   l platelets. regular accounts x-ray: unusual, ...
8   ss excuses cajole slyly across the packages. d...
9    slyly express asymptotes. regular deposits ha...
10  efully alongside of the slyly final dependenci...
11  nic deposits boost atop the quickly final requ...
12               ously. final, express gifts cajole a
13  ic deposits are blithely about the carefully r...
14   pending excuses haggle furiously deposits. pe...
15  rns. blithely bold courts among the closely re...
16      s. ironic, unusual asymptotes wake blithely r
17  platelets. blithely pending dependencies use f...
18  c dependencies. furiously express notornis sle...
19  ular asymptotes are about the furious multipli...
20  ts. silent requests haggle. closely express pa...
21     hely enticingly express accounts. even, final
22   requests against the platelets use never acco...
23  eans boost carefully special requests. account...
24  y final packages. slow foxes cajole quickly. q...  , tracking_cols=['pg2_sf1_nation_ctid'], non_tracking_cols=['"n_nationkey"', '"n_name"', '"n_regionkey"', '"n_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
tb1_columns lll ['"ps_partkey"', '"ps_suppkey"', '"ps_supplycost"', '"p_partkey"', '"p_mfgr"', 'pg2_sf1_partsupp_ctid', 'pg2_sf1_part_ctid']
tb2_columns lll ['"s_suppkey"', '"s_nationkey"', '"s_acctbal"', '"s_name"', '"s_address"', '"s_phone"', '"s_comment"', 'pg2_sf1_supplier_ctid']
LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL WIR sind in finish_sql_call LLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
sqlcode  SELECT tb1."ps_partkey", tb1."ps_suppkey", tb1."ps_supplycost", tb1."p_partkey", tb1."p_mfgr", tb1.pg2_sf1_partsupp_ctid, tb1.pg2_sf1_part_ctid, tb2."s_suppkey", tb2."s_nationkey", tb2."s_acctbal", tb2."s_name", tb2."s_address", tb2."s_phone", tb2."s_comment", tb2.pg2_sf1_supplier_ctid
FROM block_mlinid14_18 tb1
INNER JOIN block_mlinid15_19 tb2 ON tb1."ps_suppkey" = tb2."s_suppkey"
result  Empty DataFrame
Columns: [ps_partkey, ps_suppkey, ps_supplycost, p_partkey, p_mfgr, s_suppkey, s_nationkey, s_acctbal, s_name, s_address, s_phone, s_comment]
Index: []
tracking_cols  ['pg2_sf1_supplier_ctid', 'pg2_sf1_partsupp_ctid', 'pg2_sf1_part_ctid']
non_tracking_cols  None
origin_context  None
cte_name
PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP  Hier sind wir in Wrap_in_sql_obj in sql_logic PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
sqlcode SELECT tb1."ps_partkey", tb1."ps_suppkey", tb1."ps_supplycost", tb1."p_partkey", tb1."p_mfgr", tb1.pg2_sf1_partsupp_ctid, tb1.pg2_sf1_part_ctid, tb2."s_suppkey", tb2."s_nationkey", tb2."s_acctbal", tb2."s_name", tb2."s_address", tb2."s_phone", tb2."s_comment", tb2.pg2_sf1_supplier_ctid
FROM block_mlinid14_18 tb1
INNER JOIN block_mlinid15_19 tb2 ON tb1."ps_suppkey" = tb2."s_suppkey"
block_name
Und hier ist das ergebnis der beiden werte
sqlcode  CREATE VIEW block_mlinid16_20 AS (
	SELECT tb1."ps_partkey", tb1."ps_suppkey", tb1."ps_supplycost", tb1."p_partkey", tb1."p_mfgr", tb1.pg2_sf1_partsupp_ctid, tb1.pg2_sf1_part_ctid, tb2."s_suppkey", tb2."s_nationkey", tb2."s_acctbal", tb2."s_name", tb2."s_address", tb2."s_phone", tb2."s_comment", tb2.pg2_sf1_supplier_ctid
	FROM block_mlinid14_18 tb1
	INNER JOIN block_mlinid15_19 tb2 ON tb1."ps_suppkey" = tb2."s_suppkey"
);

block_name  block_mlinid16_20
Hier will ich kurz wissen ob die Tableinfo ver√§ndert wurde
altes result tableinfo Empty DataFrame
Columns: [ps_partkey, ps_suppkey, ps_supplycost, p_partkey, p_mfgr, s_suppkey, s_nationkey, s_acctbal, s_name, s_address, s_phone, s_comment]
Index: []
neue tableinfo result TableInfo(data_object=Empty DataFrame
Columns: [ps_partkey, ps_suppkey, ps_supplycost, p_partkey, p_mfgr, s_suppkey, s_nationkey, s_acctbal, s_name, s_address, s_phone, s_comment]
Index: [], tracking_cols=['pg2_sf1_supplier_ctid', 'pg2_sf1_partsupp_ctid', 'pg2_sf1_part_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_supplycost"', '"p_partkey"', '"p_mfgr"', '"s_suppkey"', '"s_nationkey"', '"s_acctbal"', '"s_name"', '"s_address"', '"s_phone"', '"s_comment"'], operation_type=<OperatorType.JOIN: 'Join'>, origin_context=None)
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz in sqllogic neu erstellung. finalcte_name  block_mlinid16_20  and newTIRESULT  TableInfo(data_object=Empty DataFrame
Columns: [ps_partkey, ps_suppkey, ps_supplycost, p_partkey, p_mfgr, s_suppkey, s_nationkey, s_acctbal, s_name, s_address, s_phone, s_comment]
Index: [], tracking_cols=['pg2_sf1_supplier_ctid', 'pg2_sf1_partsupp_ctid', 'pg2_sf1_part_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_supplycost"', '"p_partkey"', '"p_mfgr"', '"s_suppkey"', '"s_nationkey"', '"s_acctbal"', '"s_name"', '"s_address"', '"s_phone"', '"s_comment"'], operation_type=<OperatorType.JOIN: 'Join'>, origin_context=None)
EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE herausfinden was mit dem mittleren trash ist. new_dfInfo  DfInfo(dfName='psps ', tracking_cols=['pg2_sf1_supplier_ctid', 'pg2_sf1_partsupp_ctid', 'pg2_sf1_part_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_supplycost"', '"p_partkey"', '"p_mfgr"', '"s_suppkey"', '"s_nationkey"', '"s_acctbal"', '"s_name"', '"s_address"', '"s_phone"', '"s_comment"'], operation_type=<OperatorType.JOIN: 'Join'>, origin_context=None, helper_source_code='psps = psp.merge(s, left_on="ps_suppkey", right_on="s_suppkey")')

zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_partsupp_5_mlinid4_ctid', TableInfo(data_object=     ps_partkey  ps_suppkey  ps_availqty  ps_supplycost  \
0           181        7682         1122         657.25
1           182         183         9699         535.27
2           182        2683          960         519.36
3           182        5183         6243         741.46
4           182        7683         6146         365.00
..          ...         ...          ...            ...
995         429        2930         6398         787.57
996         429        5430         3641          43.51
997         429        7930         9468         312.91
998         430         431           15         483.73
999         430        2931         7890         357.47

                                            ps_comment
0    lyly fluffily pending foxes. fluffily ironic p...
1    ound the furiously regular foxes. pending requ...
2    arefully pending dependencies are always slyly...
3    accounts are slyly. furiously ironic requests ...
4    s. blithely express theodolites sleep blithely...
..                                                 ...
995  regular theodolites. quickly bold accounts nag...
996  riously. slyly stealthy packages integrate sly...
997   final requests. regular, ironic dolphins slee...
998  elets. slyly pending dependencies impress spec...
999  nding packages cajole along the requests. care...

[1000 rows x 5 columns], tracking_cols=['pg2_sf1_partsupp_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_availqty"', '"ps_supplycost"', '"ps_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_region_4_mlinid3_ctid', TableInfo(data_object=   r_regionkey                     r_name  \
0            0  AFRICA
1            1  AMERICA
2            2  ASIA
3            3  EUROPE
4            4  MIDDLE EAST

                                           r_comment
0  lar deposits. blithely final packages cajole. ...
1                    hs use ironic, even requests. s
2                    ges. thinly even pinto beans ca
3      ly final courts cajole furiously final excuse
4  uickly special accounts cajole carefully blith...  , tracking_cols=['pg2_sf1_region_ctid'], non_tracking_cols=['"r_regionkey"', '"r_name"', '"r_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_supplier_3_mlinid2_ctid', TableInfo(data_object=     s_suppkey                     s_name  \
0            1  Supplier#000000001
1            2  Supplier#000000002
2            3  Supplier#000000003
3            4  Supplier#000000004
4            5  Supplier#000000005
..         ...                        ...
995        991  Supplier#000000991
996        992  Supplier#000000992
997        995  Supplier#000000995
998        996  Supplier#000000996
999        997  Supplier#000000997

                               s_address  s_nationkey          s_phone  \
0     N kD4on9OM Ipw3,gf0JBoQDd7tgrzrddZ           17  27-918-335-1736
1                  89eJ5ksX3ImxJQBvxObC,            5  15-679-861-2259
2      q1,G3Pj6OjIuUYfUoH18BFTKP5aU9bEV3            1  11-383-516-1199
3              Bk7ah4CK8SYQTepEmvMkkgMwg           15  25-843-787-7479
4                      Gcdm2rJRzl5qlTVzc           11  21-151-690-3663
..                                   ...          ...              ...
995                  Bh4Danx VvUpMce x42           16  26-793-462-2874
996                iZPAlGecV0uUsxMikQG7s            2  12-663-356-1288
997                    CgVUX8DtNbtug2M,N           18  28-180-818-2912
998                 Wx4dQwOAwWjfSCGupfrM            7  17-447-811-3282
999  7eUWMrOCKCp2JYas6P4mL93eaWIOtKKWtTX            3  13-221-322-7971

     s_acctbal                                          s_comment
0      5755.94                       each slyly above the careful
1      4032.68             slyly bold instructions. idle dependen
2      4192.40  blithely silent requests after the express dep...
3      4641.08                riously even requests above the exp
4      -283.84                          . slyly regular pinto bea
..         ...                                                ...
995    4026.14      foxes are slyly above the furiously express t
996    4379.45  silent packages. quickly regular requests agai...
997    9025.90          s nag. furiously even theodolites cajole.
998    6329.90                 ironic forges cajole blithely agai
999    3659.56  y regular excuses boost slyly furiously final ...

[1000 rows x 7 columns], tracking_cols=['pg2_sf1_supplier_ctid'], non_tracking_cols=['"s_suppkey"', '"s_name"', '"s_address"', '"s_nationkey"', '"s_phone"', '"s_acctbal"', '"s_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_part_2_mlinid1_ctid', TableInfo(data_object=     p_partkey                                 p_name  \
0          782   peru firebrick coral chartreuse rosy
1          783         cyan turquoise azure pink dark
2          784   light smoke seashell snow chartreuse
3          785       coral saddle indian lime frosted
4          786      royal azure ivory moccasin salmon
..         ...                                    ...
995       1777    burnished black almond white violet
996       1778     honeydew sky salmon misty lavender
997       1779  rose wheat cream chartreuse goldenrod
998       1780          linen metallic smoke sky puff
999       1781          black indian forest hot olive

                        p_mfgr     p_brand                  p_type  p_size  \
0    Manufacturer#1             Brand#13      LARGE POLISHED BRASS      29
1    Manufacturer#1             Brand#13       SMALL PLATED NICKEL       4
2    Manufacturer#1             Brand#12     MEDIUM BRUSHED COPPER      47
3    Manufacturer#3             Brand#33        PROMO ANODIZED TIN      41
4    Manufacturer#2             Brand#23    STANDARD PLATED NICKEL      20
..                         ...         ...                     ...     ...
995  Manufacturer#3             Brand#33      ECONOMY PLATED STEEL      48
996  Manufacturer#3             Brand#32        SMALL ANODIZED TIN       9
997  Manufacturer#5             Brand#53        LARGE PLATED BRASS       9
998  Manufacturer#3             Brand#31       STANDARD PLATED TIN      38
999  Manufacturer#4             Brand#45      PROMO ANODIZED BRASS      11

    p_container  p_retailprice            p_comment
0    SM BAG            1682.78               hely u
1    MED DRUM          1683.78               ss acc
2    LG DRUM           1684.78      unts. furiously
3    SM PACK           1685.78        use carefully
4    SM PACK           1686.78               eodoli
..          ...            ...                  ...
995  WRAP JAR          1678.77     tructions haggle
996  JUMBO DRUM        1679.77              instruc
997  LG DRUM           1680.77      ithely special
998  JUMBO JAR         1681.78    gular requests. c
999  WRAP CAN          1682.78  sits; slyly regular

[1000 rows x 9 columns], tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols=['"p_partkey"', '"p_name"', '"p_mfgr"', '"p_brand"', '"p_type"', '"p_size"', '"p_container"', '"p_retailprice"', '"p_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_nation_1_mlinid0_ctid', TableInfo(data_object=    n_nationkey                     n_name  n_regionkey  \
0             0  ALGERIA                              0
1             1  ARGENTINA                            1
2             2  BRAZIL                               1
3             3  CANADA                               1
4             4  EGYPT                                4
5             5  ETHIOPIA                             0
6             6  FRANCE                               3
7             7  GERMANY                              3
8             8  INDIA                                2
9             9  INDONESIA                            2
10           10  IRAN                                 4
11           11  IRAQ                                 4
12           12  JAPAN                                2
13           13  JORDAN                               4
14           14  KENYA                                0
15           15  MOROCCO                              0
16           16  MOZAMBIQUE                           0
17           17  PERU                                 1
18           18  CHINA                                2
19           19  ROMANIA                              3
20           20  SAUDI ARABIA                         4
21           21  VIETNAM                              2
22           22  RUSSIA                               3
23           23  UNITED KINGDOM                       3
24           24  UNITED STATES                        1

                                            n_comment
0    haggle. carefully final deposits detect slyly...
1   al foxes promise slyly according to the regula...
2   y alongside of the pending deposits. carefully...
3   eas hang ironic, silent packages. slyly regula...
4   y above the carefully unusual theodolites. fin...
5                     ven packages wake quickly. regu
6              refully final requests. regular, ironi
7   l platelets. regular accounts x-ray: unusual, ...
8   ss excuses cajole slyly across the packages. d...
9    slyly express asymptotes. regular deposits ha...
10  efully alongside of the slyly final dependenci...
11  nic deposits boost atop the quickly final requ...
12               ously. final, express gifts cajole a
13  ic deposits are blithely about the carefully r...
14   pending excuses haggle furiously deposits. pe...
15  rns. blithely bold courts among the closely re...
16      s. ironic, unusual asymptotes wake blithely r
17  platelets. blithely pending dependencies use f...
18  c dependencies. furiously express notornis sle...
19  ular asymptotes are about the furious multipli...
20  ts. silent requests haggle. closely express pa...
21     hely enticingly express accounts. even, final
22   requests against the platelets use never acco...
23  eans boost carefully special requests. account...
24  y final packages. slow foxes cajole quickly. q...  , tracking_cols=['pg2_sf1_nation_ctid'], non_tracking_cols=['"n_nationkey"', '"n_name"', '"n_regionkey"', '"n_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
tb1_columns lll ['"n_nationkey"', '"n_name"', '"n_regionkey"', '"n_comment"', 'pg2_sf1_nation_ctid']
tb2_columns lll ['"r_regionkey"', '"r_name"', '"r_comment"', 'pg2_sf1_region_ctid']
LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL WIR sind in finish_sql_call LLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
sqlcode  SELECT tb1."n_nationkey", tb1."n_name", tb1."n_regionkey", tb1."n_comment", tb1.pg2_sf1_nation_ctid, tb2."r_regionkey", tb2."r_name", tb2."r_comment", tb2.pg2_sf1_region_ctid
FROM pg2_sf1_nation_1_mlinid0_ctid tb1
INNER JOIN block_mlinid20_25 tb2 ON tb1."n_regionkey" = tb2."r_regionkey"
result     n_nationkey                     n_name  n_regionkey  \
0            6  FRANCE                               3
1            7  GERMANY                              3
2           19  ROMANIA                              3
3           22  RUSSIA                               3
4           23  UNITED KINGDOM                       3

                                           n_comment  r_regionkey  \
0             refully final requests. regular, ironi            3
1  l platelets. regular accounts x-ray: unusual, ...            3
2  ular asymptotes are about the furious multipli...            3
3   requests against the platelets use never acco...            3
4  eans boost carefully special requests. account...            3

                      r_name                                      r_comment
0  EUROPE                     ly final courts cajole furiously final excuse
1  EUROPE                     ly final courts cajole furiously final excuse
2  EUROPE                     ly final courts cajole furiously final excuse
3  EUROPE                     ly final courts cajole furiously final excuse
4  EUROPE                     ly final courts cajole furiously final excuse
tracking_cols  ['pg2_sf1_region_ctid', 'pg2_sf1_nation_ctid']
non_tracking_cols  None
origin_context  None
cte_name
PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP  Hier sind wir in Wrap_in_sql_obj in sql_logic PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
sqlcode SELECT tb1."n_nationkey", tb1."n_name", tb1."n_regionkey", tb1."n_comment", tb1.pg2_sf1_nation_ctid, tb2."r_regionkey", tb2."r_name", tb2."r_comment", tb2.pg2_sf1_region_ctid
FROM pg2_sf1_nation_1_mlinid0_ctid tb1
INNER JOIN block_mlinid20_25 tb2 ON tb1."n_regionkey" = tb2."r_regionkey"
block_name
Und hier ist das ergebnis der beiden werte
sqlcode  CREATE VIEW block_mlinid21_26 AS (
	SELECT tb1."n_nationkey", tb1."n_name", tb1."n_regionkey", tb1."n_comment", tb1.pg2_sf1_nation_ctid, tb2."r_regionkey", tb2."r_name", tb2."r_comment", tb2.pg2_sf1_region_ctid
	FROM pg2_sf1_nation_1_mlinid0_ctid tb1
	INNER JOIN block_mlinid20_25 tb2 ON tb1."n_regionkey" = tb2."r_regionkey"
);

block_name  block_mlinid21_26
Hier will ich kurz wissen ob die Tableinfo ver√§ndert wurde
altes result tableinfo    n_nationkey                     n_name  n_regionkey  \
0            6  FRANCE                               3
1            7  GERMANY                              3
2           19  ROMANIA                              3
3           22  RUSSIA                               3
4           23  UNITED KINGDOM                       3

                                           n_comment  r_regionkey  \
0             refully final requests. regular, ironi            3
1  l platelets. regular accounts x-ray: unusual, ...            3
2  ular asymptotes are about the furious multipli...            3
3   requests against the platelets use never acco...            3
4  eans boost carefully special requests. account...            3

                      r_name                                      r_comment
0  EUROPE                     ly final courts cajole furiously final excuse
1  EUROPE                     ly final courts cajole furiously final excuse
2  EUROPE                     ly final courts cajole furiously final excuse
3  EUROPE                     ly final courts cajole furiously final excuse
4  EUROPE                     ly final courts cajole furiously final excuse
neue tableinfo result TableInfo(data_object=   n_nationkey                     n_name  n_regionkey  \
0            6  FRANCE                               3
1            7  GERMANY                              3
2           19  ROMANIA                              3
3           22  RUSSIA                               3
4           23  UNITED KINGDOM                       3

                                           n_comment  r_regionkey  \
0             refully final requests. regular, ironi            3
1  l platelets. regular accounts x-ray: unusual, ...            3
2  ular asymptotes are about the furious multipli...            3
3   requests against the platelets use never acco...            3
4  eans boost carefully special requests. account...            3

                      r_name                                      r_comment
0  EUROPE                     ly final courts cajole furiously final excuse
1  EUROPE                     ly final courts cajole furiously final excuse
2  EUROPE                     ly final courts cajole furiously final excuse
3  EUROPE                     ly final courts cajole furiously final excuse
4  EUROPE                     ly final courts cajole furiously final excuse  , tracking_cols=['pg2_sf1_region_ctid', 'pg2_sf1_nation_ctid'], non_tracking_cols=['"n_nationkey"', '"n_name"', '"n_regionkey"', '"n_comment"', '"r_regionkey"', '"r_name"', '"r_comment"'], operation_type=<OperatorType.JOIN: 'Join'>, origin_context=None)
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz in sqllogic neu erstellung. finalcte_name  block_mlinid21_26  and newTIRESULT  TableInfo(data_object=   n_nationkey                     n_name  n_regionkey  \
0            6  FRANCE                               3
1            7  GERMANY                              3
2           19  ROMANIA                              3
3           22  RUSSIA                               3
4           23  UNITED KINGDOM                       3

                                           n_comment  r_regionkey  \
0             refully final requests. regular, ironi            3
1  l platelets. regular accounts x-ray: unusual, ...            3
2  ular asymptotes are about the furious multipli...            3
3   requests against the platelets use never acco...            3
4  eans boost carefully special requests. account...            3

                      r_name                                      r_comment
0  EUROPE                     ly final courts cajole furiously final excuse
1  EUROPE                     ly final courts cajole furiously final excuse
2  EUROPE                     ly final courts cajole furiously final excuse
3  EUROPE                     ly final courts cajole furiously final excuse
4  EUROPE                     ly final courts cajole furiously final excuse  , tracking_cols=['pg2_sf1_region_ctid', 'pg2_sf1_nation_ctid'], non_tracking_cols=['"n_nationkey"', '"n_name"', '"n_regionkey"', '"n_comment"', '"r_regionkey"', '"r_name"', '"r_comment"'], operation_type=<OperatorType.JOIN: 'Join'>, origin_context=None)
EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE herausfinden was mit dem mittleren trash ist. new_dfInfo  DfInfo(dfName='nr ', tracking_cols=['pg2_sf1_region_ctid', 'pg2_sf1_nation_ctid'], non_tracking_cols=['"n_nationkey"', '"n_name"', '"n_regionkey"', '"n_comment"', '"r_regionkey"', '"r_name"', '"r_comment"'], operation_type=<OperatorType.JOIN: 'Join'>, origin_context=None, helper_source_code='nr = nation.merge(region[region["r_name"] == "EUROPE"], left_on="n_regionkey", right_on="r_regionkey")')

zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid5_6', TableInfo(data_object=     ps_partkey  ps_suppkey  ps_supplycost
0           181        7682         657.25
1           182         183         535.27
2           182        2683         519.36
3           182        5183         741.46
4           182        7683         365.00
..          ...         ...            ...
995         429        2930         787.57
996         429        5430          43.51
997         429        7930         312.91
998         430         431         483.73
999         430        2931         357.47

[1000 rows x 3 columns], tracking_cols=['pg2_sf1_partsupp_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_supplycost"'], operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964583AB20>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_partsupp_5_mlinid4_ctid', TableInfo(data_object=     ps_partkey  ps_suppkey  ps_availqty  ps_supplycost  \
0           181        7682         1122         657.25
1           182         183         9699         535.27
2           182        2683          960         519.36
3           182        5183         6243         741.46
4           182        7683         6146         365.00
..          ...         ...          ...            ...
995         429        2930         6398         787.57
996         429        5430         3641          43.51
997         429        7930         9468         312.91
998         430         431           15         483.73
999         430        2931         7890         357.47

                                            ps_comment
0    lyly fluffily pending foxes. fluffily ironic p...
1    ound the furiously regular foxes. pending requ...
2    arefully pending dependencies are always slyly...
3    accounts are slyly. furiously ironic requests ...
4    s. blithely express theodolites sleep blithely...
..                                                 ...
995  regular theodolites. quickly bold accounts nag...
996  riously. slyly stealthy packages integrate sly...
997   final requests. regular, ironic dolphins slee...
998  elets. slyly pending dependencies impress spec...
999  nding packages cajole along the requests. care...

[1000 rows x 5 columns], tracking_cols=['pg2_sf1_partsupp_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_availqty"', '"ps_supplycost"', '"ps_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_region_4_mlinid3_ctid', TableInfo(data_object=   r_regionkey                     r_name  \
0            0  AFRICA
1            1  AMERICA
2            2  ASIA
3            3  EUROPE
4            4  MIDDLE EAST

                                           r_comment
0  lar deposits. blithely final packages cajole. ...
1                    hs use ironic, even requests. s
2                    ges. thinly even pinto beans ca
3      ly final courts cajole furiously final excuse
4  uickly special accounts cajole carefully blith...  , tracking_cols=['pg2_sf1_region_ctid'], non_tracking_cols=['"r_regionkey"', '"r_name"', '"r_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_supplier_3_mlinid2_ctid', TableInfo(data_object=     s_suppkey                     s_name  \
0            1  Supplier#000000001
1            2  Supplier#000000002
2            3  Supplier#000000003
3            4  Supplier#000000004
4            5  Supplier#000000005
..         ...                        ...
995        991  Supplier#000000991
996        992  Supplier#000000992
997        995  Supplier#000000995
998        996  Supplier#000000996
999        997  Supplier#000000997

                               s_address  s_nationkey          s_phone  \
0     N kD4on9OM Ipw3,gf0JBoQDd7tgrzrddZ           17  27-918-335-1736
1                  89eJ5ksX3ImxJQBvxObC,            5  15-679-861-2259
2      q1,G3Pj6OjIuUYfUoH18BFTKP5aU9bEV3            1  11-383-516-1199
3              Bk7ah4CK8SYQTepEmvMkkgMwg           15  25-843-787-7479
4                      Gcdm2rJRzl5qlTVzc           11  21-151-690-3663
..                                   ...          ...              ...
995                  Bh4Danx VvUpMce x42           16  26-793-462-2874
996                iZPAlGecV0uUsxMikQG7s            2  12-663-356-1288
997                    CgVUX8DtNbtug2M,N           18  28-180-818-2912
998                 Wx4dQwOAwWjfSCGupfrM            7  17-447-811-3282
999  7eUWMrOCKCp2JYas6P4mL93eaWIOtKKWtTX            3  13-221-322-7971

     s_acctbal                                          s_comment
0      5755.94                       each slyly above the careful
1      4032.68             slyly bold instructions. idle dependen
2      4192.40  blithely silent requests after the express dep...
3      4641.08                riously even requests above the exp
4      -283.84                          . slyly regular pinto bea
..         ...                                                ...
995    4026.14      foxes are slyly above the furiously express t
996    4379.45  silent packages. quickly regular requests agai...
997    9025.90          s nag. furiously even theodolites cajole.
998    6329.90                 ironic forges cajole blithely agai
999    3659.56  y regular excuses boost slyly furiously final ...

[1000 rows x 7 columns], tracking_cols=['pg2_sf1_supplier_ctid'], non_tracking_cols=['"s_suppkey"', '"s_name"', '"s_address"', '"s_nationkey"', '"s_phone"', '"s_acctbal"', '"s_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_part_2_mlinid1_ctid', TableInfo(data_object=     p_partkey                                 p_name  \
0          782   peru firebrick coral chartreuse rosy
1          783         cyan turquoise azure pink dark
2          784   light smoke seashell snow chartreuse
3          785       coral saddle indian lime frosted
4          786      royal azure ivory moccasin salmon
..         ...                                    ...
995       1777    burnished black almond white violet
996       1778     honeydew sky salmon misty lavender
997       1779  rose wheat cream chartreuse goldenrod
998       1780          linen metallic smoke sky puff
999       1781          black indian forest hot olive

                        p_mfgr     p_brand                  p_type  p_size  \
0    Manufacturer#1             Brand#13      LARGE POLISHED BRASS      29
1    Manufacturer#1             Brand#13       SMALL PLATED NICKEL       4
2    Manufacturer#1             Brand#12     MEDIUM BRUSHED COPPER      47
3    Manufacturer#3             Brand#33        PROMO ANODIZED TIN      41
4    Manufacturer#2             Brand#23    STANDARD PLATED NICKEL      20
..                         ...         ...                     ...     ...
995  Manufacturer#3             Brand#33      ECONOMY PLATED STEEL      48
996  Manufacturer#3             Brand#32        SMALL ANODIZED TIN       9
997  Manufacturer#5             Brand#53        LARGE PLATED BRASS       9
998  Manufacturer#3             Brand#31       STANDARD PLATED TIN      38
999  Manufacturer#4             Brand#45      PROMO ANODIZED BRASS      11

    p_container  p_retailprice            p_comment
0    SM BAG            1682.78               hely u
1    MED DRUM          1683.78               ss acc
2    LG DRUM           1684.78      unts. furiously
3    SM PACK           1685.78        use carefully
4    SM PACK           1686.78               eodoli
..          ...            ...                  ...
995  WRAP JAR          1678.77     tructions haggle
996  JUMBO DRUM        1679.77              instruc
997  LG DRUM           1680.77      ithely special
998  JUMBO JAR         1681.78    gular requests. c
999  WRAP CAN          1682.78  sits; slyly regular

[1000 rows x 9 columns], tracking_cols=['pg2_sf1_part_ctid'], non_tracking_cols=['"p_partkey"', '"p_name"', '"p_mfgr"', '"p_brand"', '"p_type"', '"p_size"', '"p_container"', '"p_retailprice"', '"p_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('pg2_sf1_nation_1_mlinid0_ctid', TableInfo(data_object=    n_nationkey                     n_name  n_regionkey  \
0             0  ALGERIA                              0
1             1  ARGENTINA                            1
2             2  BRAZIL                               1
3             3  CANADA                               1
4             4  EGYPT                                4
5             5  ETHIOPIA                             0
6             6  FRANCE                               3
7             7  GERMANY                              3
8             8  INDIA                                2
9             9  INDONESIA                            2
10           10  IRAN                                 4
11           11  IRAQ                                 4
12           12  JAPAN                                2
13           13  JORDAN                               4
14           14  KENYA                                0
15           15  MOROCCO                              0
16           16  MOZAMBIQUE                           0
17           17  PERU                                 1
18           18  CHINA                                2
19           19  ROMANIA                              3
20           20  SAUDI ARABIA                         4
21           21  VIETNAM                              2
22           22  RUSSIA                               3
23           23  UNITED KINGDOM                       3
24           24  UNITED STATES                        1

                                            n_comment
0    haggle. carefully final deposits detect slyly...
1   al foxes promise slyly according to the regula...
2   y alongside of the pending deposits. carefully...
3   eas hang ironic, silent packages. slyly regula...
4   y above the carefully unusual theodolites. fin...
5                     ven packages wake quickly. regu
6              refully final requests. regular, ironi
7   l platelets. regular accounts x-ray: unusual, ...
8   ss excuses cajole slyly across the packages. d...
9    slyly express asymptotes. regular deposits ha...
10  efully alongside of the slyly final dependenci...
11  nic deposits boost atop the quickly final requ...
12               ously. final, express gifts cajole a
13  ic deposits are blithely about the carefully r...
14   pending excuses haggle furiously deposits. pe...
15  rns. blithely bold courts among the closely re...
16      s. ironic, unusual asymptotes wake blithely r
17  platelets. blithely pending dependencies use f...
18  c dependencies. furiously express notornis sle...
19  ular asymptotes are about the furious multipli...
20  ts. silent requests haggle. closely express pa...
21     hely enticingly express accounts. even, final
22   requests against the platelets use never acco...
23  eans boost carefully special requests. account...
24  y final packages. slow foxes cajole quickly. q...  , tracking_cols=['pg2_sf1_nation_ctid'], non_tracking_cols=['"n_nationkey"', '"n_name"', '"n_regionkey"', '"n_comment"'], operation_type=<OperatorType.DATA_SOURCE: 'Data Source'>, origin_context=None))
XXXXXXXXXXXXXXXXXXXXXXXXXXXX HEY √ñMER ICH BIN IN PY_TO_SQL_MAPPING XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
hier sind df to find Empty DataFrame
Columns: [ps_supplycost]
Index: [] UND SELF     <mlinspect.to_sql.py_to_sql_mapping.DfToStringMapping object at 0x000001960AE594F0>
zzzzzzzzzzzzzzzzzz hier ist df_to_find Empty DataFrame
Columns: [ps_supplycost]
Index: []
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid25_30', TableInfo(data_object=Empty DataFrame
Columns: [ps_supplycost]
Index: [], tracking_cols=[], non_tracking_cols=['"ps_supplycost"', '"ps_partkey"'], operation_type=<OperatorType.GROUP_BY_AGG: 'Groupby and Aggregate'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid24_29', TableInfo(data_object=Empty DataFrame
Columns: [ps_partkey, ps_supplycost, p_mfgr, n_name, s_acctbal, s_name, s_address, s_phone, s_comment]
Index: [], tracking_cols=['pg2_sf1_part_ctid', 'pg2_sf1_region_ctid', 'pg2_sf1_nation_ctid', 'pg2_sf1_supplier_ctid', 'pg2_sf1_partsupp_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_supplycost"', '"p_mfgr"', '"n_name"', '"s_acctbal"', '"s_name"', '"s_address"', '"s_phone"', '"s_comment"'], operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x00000196458A5880>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid23_28', TableInfo(data_object=Empty DataFrame
Columns: [ps_partkey, ps_supplycost, p_mfgr, s_nationkey, s_acctbal, s_name, s_address, s_phone, s_comment, n_nationkey, n_name]
Index: [], tracking_cols=['pg2_sf1_part_ctid', 'pg2_sf1_region_ctid', 'pg2_sf1_nation_ctid', 'pg2_sf1_supplier_ctid', 'pg2_sf1_partsupp_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_supplycost"', '"p_mfgr"', '"s_nationkey"', '"s_acctbal"', '"s_name"', '"s_address"', '"s_phone"', '"s_comment"', '"n_nationkey"', '"n_name"'], operation_type=<OperatorType.JOIN: 'Join'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid22_27', TableInfo(data_object=   n_nationkey                     n_name
0            6  FRANCE
1            7  GERMANY
2           19  ROMANIA
3           22  RUSSIA
4           23  UNITED KINGDOM           , tracking_cols=['pg2_sf1_region_ctid', 'pg2_sf1_nation_ctid'], non_tracking_cols=['"n_nationkey"', '"n_name"'], operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x00000196458A65B0>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid21_26', TableInfo(data_object=   n_nationkey                     n_name  n_regionkey  \
0            6  FRANCE                               3
1            7  GERMANY                              3
2           19  ROMANIA                              3
3           22  RUSSIA                               3
4           23  UNITED KINGDOM                       3

                                           n_comment  r_regionkey  \
0             refully final requests. regular, ironi            3
1  l platelets. regular accounts x-ray: unusual, ...            3
2  ular asymptotes are about the furious multipli...            3
3   requests against the platelets use never acco...            3
4  eans boost carefully special requests. account...            3

                      r_name                                      r_comment
0  EUROPE                     ly final courts cajole furiously final excuse
1  EUROPE                     ly final courts cajole furiously final excuse
2  EUROPE                     ly final courts cajole furiously final excuse
3  EUROPE                     ly final courts cajole furiously final excuse
4  EUROPE                     ly final courts cajole furiously final excuse  , tracking_cols=['pg2_sf1_region_ctid', 'pg2_sf1_nation_ctid'], non_tracking_cols=['"n_nationkey"', '"n_name"', '"n_regionkey"', '"n_comment"', '"r_regionkey"', '"r_name"', '"r_comment"'], operation_type=<OperatorType.JOIN: 'Join'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid20_25', TableInfo(data_object=   r_regionkey                     r_name  \
3            3  EUROPE

                                       r_comment
3  ly final courts cajole furiously final excuse  , tracking_cols=['pg2_sf1_region_ctid'], non_tracking_cols=['"r_regionkey"', '"r_name"', '"r_comment"'], operation_type=<OperatorType.SELECTION: 'Selection'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid19_24', TableInfo(data_object=0    False
1    False
2    False
3     True
4    False
Name: op_23, dtype: bool, tracking_cols=['pg2_sf1_region_ctid'], non_tracking_cols='"op_23"', operation_type=<OperatorType.BIN_OP: 'Arithmetic or Boolean Operation'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x000001964589AA90>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid18_22', TableInfo(data_object=0    AFRICA
1    AMERICA
2    ASIA
3    EUROPE
4    MIDDLE EAST
Name: r_name, dtype: object, tracking_cols=['pg2_sf1_region_ctid'], non_tracking_cols='"r_name"', operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019645894790>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid17_21', TableInfo(data_object=Empty DataFrame
Columns: [ps_partkey, ps_supplycost, p_mfgr, s_nationkey, s_acctbal, s_name, s_address, s_phone, s_comment]
Index: [], tracking_cols=['pg2_sf1_supplier_ctid', 'pg2_sf1_partsupp_ctid', 'pg2_sf1_part_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_supplycost"', '"p_mfgr"', '"s_nationkey"', '"s_acctbal"', '"s_name"', '"s_address"', '"s_phone"', '"s_comment"'], operation_type=<OperatorType.PROJECTION: 'Projection'>, origin_context=<mlinspect.to_sql.py_to_sql_mapping.OpTree object at 0x0000019645847460>))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid16_20', TableInfo(data_object=Empty DataFrame
Columns: [ps_partkey, ps_suppkey, ps_supplycost, p_partkey, p_mfgr, s_suppkey, s_nationkey, s_acctbal, s_name, s_address, s_phone, s_comment]
Index: [], tracking_cols=['pg2_sf1_supplier_ctid', 'pg2_sf1_partsupp_ctid', 'pg2_sf1_part_ctid'], non_tracking_cols=['"ps_partkey"', '"ps_suppkey"', '"ps_supplycost"', '"p_partkey"', '"p_mfgr"', '"s_suppkey"', '"s_nationkey"', '"s_acctbal"', '"s_name"', '"s_address"', '"s_phone"', '"s_comment"'], operation_type=<OperatorType.JOIN: 'Join'>, origin_context=None))
zzzzzzzzzzzzzzzzzzz hier ist das jeweilige df in self.mapping in echt ('block_mlinid15_19', TableInfo(data_object=     s_suppkey  s_nationkey  s_acctbal                     s_name  \
0            1           17    5755.94  Supplier#000000001
1            2            5    4032.68  Supplier#000000002
2            3            1    4192.40  Supplier#000000003
3            4           15    4641.08  Supplier#000000004
4            5           11    -283.84  Supplier#000000005
..         ...          ...        ...                        ...
995        991           16    4026.14  Supplier#000000991
996        992            2    4379.45  Supplier#000000992
997        995           18    9025.90  Supplier#000000995
998        996            7    6329.90  Supplier#000000996
999        997            3    3659.56  Supplier#000000997

                               s_address          s_phone  \
0     N kD4on9OM Ipw3,gf0JBoQDd7tgrzrddZ  27-918-335-1736
1                  89eJ5ksX3ImxJQBvxObC,  15-679-861-2259
2      q1,G3Pj6OjIuUYfUoH18BFTKP5aU9bEV3  11-383-516-1199
3              Bk7ah4CK8SYQTepEmvMkkgMwg  25-843-787-7479
4                      Gcdm2rJRzl5qlTVzc  21-151-690-3663
..                                   ...              ...
995                  Bh4Danx VvUpMce x42  26-793-462-2874
996                iZPAlGecV0uUsxMikQG7s  12-663-356-1288
997                    CgVUX8DtNbtug2M,N  28-180-818-2912
998                 Wx4dQwOAwWjfSCGupfrM  17-447-811-3282
999  7eUWMrOCKCp2JYas6P4mL93eaWIOtKKWtTX  13-221-322-7971

                                             s_comment

ENDLICH DAS SQL_RESULT     s_acctbal                     s_name                     n_name  \
0     9938.53  Supplier#000005359         UNITED KINGDOM
1     9937.84  Supplier#000005969         ROMANIA
2     9936.22  Supplier#000005250         UNITED KINGDOM
3     9923.77  Supplier#000002324         GERMANY
4     9871.22  Supplier#000006373         GERMANY
..        ...                        ...                        ...
95    7887.08  Supplier#000009792         GERMANY
96    7871.50  Supplier#000007206         RUSSIA
97    7852.45  Supplier#000005864         RUSSIA
98    7850.66  Supplier#000001518         UNITED KINGDOM
99    7843.52  Supplier#000006683         FRANCE

    ps_partkey                     p_mfgr  \
0       185358  Manufacturer#4
1       108438  Manufacturer#1
2          249  Manufacturer#4
3        29821  Manufacturer#4
4        43868  Manufacturer#5
..         ...                        ...
95      164759  Manufacturer#3
96      104695  Manufacturer#1
97        8363  Manufacturer#4
98       86501  Manufacturer#1
99       11680  Manufacturer#4

                              s_address          s_phone  \
0              QKuHYh,vZGiwu2FWEJoLDx04  33-429-790-6131
1     ANDENSOSmk,miq23Xfb5RWt6dvUcvt6Qa  29-520-692-3537
2                 B3rqp0xbSEim4Mpy2RH J  33-320-228-2957
3                          y3OD9UywSTOk  17-779-299-1839
4                            J8fcXWsTqM  17-813-485-8637
..                                  ...              ...
95  Y28ITVeYriT3kIGdV2K8fSZ V2UqT5H1Otz  17-988-938-4296
96              3w fNCnrVmvJjE95sgWZzvW  32-432-452-7731
97                      WCNfBPZeSXh3h,c  32-454-883-3821
98                        ONda3YJiHKJOC  33-730-383-3892
99        2Z0JGkiv01Y00oCFwUGfviIbhzCdy  16-464-517-8943

                                            s_comment
0                       uriously regular requests hag
1   efully express instructions. regular requests ...
2   etect about the furiously final accounts. slyl...
3   ackages boost blithely. blithely regular depos...
4   etect blithely bold asymptotes. fluffily ironi...
..                                                ...
95  ckly around the carefully fluffy theodolites. ...
96  ironic requests. furiously final theodolites c...
97  usly unusual pinto beans. brave ideas sleep ca...
98                   ifts haggle fluffily pending pai
99   express, final pinto beans x-ray slyly asympt...

[100 rows x 8 columns]
 FINALLY HIER WISSEN
WITH "tb2" AS (
  SELECT
    "pg2_sf1_partsupp"."ps_partkey" AS "ps_partkey",
    MIN("pg2_sf1_partsupp"."ps_supplycost") AS "ps_supplycost"
  FROM "pg2_sf1_partsupp" AS "pg2_sf1_partsupp"
  JOIN "pg2_sf1_part" AS "pg2_sf1_part"
    ON "pg2_sf1_part"."p_partkey" = "pg2_sf1_partsupp"."ps_partkey"
    AND "pg2_sf1_part"."p_size" = 15
    AND "pg2_sf1_part"."p_type" LIKE '%BRASS'
  JOIN "pg2_sf1_supplier" AS "pg2_sf1_supplier"
    ON "pg2_sf1_partsupp"."ps_suppkey" = "pg2_sf1_supplier"."s_suppkey"
  JOIN "pg2_sf1_nation" AS "pg2_sf1_nation"
    ON "pg2_sf1_nation"."n_nationkey" = "pg2_sf1_supplier"."s_nationkey"
  JOIN "pg2_sf1_region" AS "pg2_sf1_region"
    ON "pg2_sf1_nation"."n_regionkey" = "pg2_sf1_region"."r_regionkey"
    AND "pg2_sf1_region"."r_name" = 'EUROPE'
  GROUP BY
    "pg2_sf1_partsupp"."ps_partkey"
)
SELECT
  "pg2_sf1_supplier"."s_acctbal" AS "s_acctbal",
  "pg2_sf1_supplier"."s_name" AS "s_name",
  "pg2_sf1_nation"."n_name" AS "n_name",
  "pg2_sf1_partsupp"."ps_partkey" AS "ps_partkey",
  "pg2_sf1_part"."p_mfgr" AS "p_mfgr",
  "pg2_sf1_supplier"."s_address" AS "s_address",
  "pg2_sf1_supplier"."s_phone" AS "s_phone",
  "pg2_sf1_supplier"."s_comment" AS "s_comment"
FROM "pg2_sf1_partsupp" AS "pg2_sf1_partsupp"
JOIN "pg2_sf1_part" AS "pg2_sf1_part"
  ON "pg2_sf1_part"."p_partkey" = "pg2_sf1_partsupp"."ps_partkey"
  AND "pg2_sf1_part"."p_size" = 15
  AND "pg2_sf1_part"."p_type" LIKE '%BRASS'
JOIN "pg2_sf1_supplier" AS "pg2_sf1_supplier"
  ON "pg2_sf1_partsupp"."ps_suppkey" = "pg2_sf1_supplier"."s_suppkey"
JOIN "pg2_sf1_nation" AS "pg2_sf1_nation"
  ON "pg2_sf1_nation"."n_nationkey" = "pg2_sf1_supplier"."s_nationkey"
JOIN "pg2_sf1_region" AS "pg2_sf1_region"
  ON "pg2_sf1_nation"."n_regionkey" = "pg2_sf1_region"."r_regionkey"
  AND "pg2_sf1_region"."r_name" = 'EUROPE'
JOIN "tb2" AS "tb2"
  ON "pg2_sf1_partsupp"."ps_partkey" = "tb2"."ps_partkey"
  AND "pg2_sf1_partsupp"."ps_supplycost" = "tb2"."ps_supplycost"
 FINALLY HIER Vergleich zur normalen query
SELECT
  "l"."l_orderkey" AS "l_orderkey",
  SUM("l"."l_extendedprice" * (
    1 - "l"."l_discount"
  )) AS "revenue",
  "o"."o_orderdate" AS "o_orderdate",
  "o"."o_shippriority" AS "o_shippriority"
FROM "customer" AS "c"
JOIN "orders" AS "o"
  ON "c"."c_custkey" = "o"."o_custkey"
  AND CAST("o"."o_orderdate" AS DATE) < CAST('1995-03-15' AS DATE)
JOIN "lineitem" AS "l"
  ON "l"."l_orderkey" = "o"."o_orderkey"
  AND CAST("l"."l_shipdate" AS DATE) > CAST('1995-03-15' AS DATE)
WHERE
  "c"."c_mktsegment" = 'BUILDING'
GROUP BY
  "l"."l_orderkey",
  "o"."o_orderdate",
  "o"."o_shippriority"
ORDER BY
  "revenue" DESC,
  "o_orderdate"
LIMIT 10
res jjjjjjjjjjjjjjjjjjjjjjjjjj     s_acctbal                     s_name                     n_name  \
0     9938.53  Supplier#000005359         UNITED KINGDOM
1     9937.84  Supplier#000005969         ROMANIA
2     9936.22  Supplier#000005250         UNITED KINGDOM
3     9923.77  Supplier#000002324         GERMANY
4     9871.22  Supplier#000006373         GERMANY
..        ...                        ...                        ...
95    7887.08  Supplier#000009792         GERMANY
96    7871.50  Supplier#000007206         RUSSIA
97    7852.45  Supplier#000005864         RUSSIA
98    7850.66  Supplier#000001518         UNITED KINGDOM
99    7843.52  Supplier#000006683         FRANCE

    ps_partkey                     p_mfgr  \
0       185358  Manufacturer#4
1       108438  Manufacturer#1
2          249  Manufacturer#4
3        29821  Manufacturer#4
4        43868  Manufacturer#5
..         ...                        ...
95      164759  Manufacturer#3
96      104695  Manufacturer#1
97        8363  Manufacturer#4
98       86501  Manufacturer#1
99       11680  Manufacturer#4

                              s_address          s_phone  \
0              QKuHYh,vZGiwu2FWEJoLDx04  33-429-790-6131
1     ANDENSOSmk,miq23Xfb5RWt6dvUcvt6Qa  29-520-692-3537
2                 B3rqp0xbSEim4Mpy2RH J  33-320-228-2957
3                          y3OD9UywSTOk  17-779-299-1839
4                            J8fcXWsTqM  17-813-485-8637
..                                  ...              ...
95  Y28ITVeYriT3kIGdV2K8fSZ V2UqT5H1Otz  17-988-938-4296
96              3w fNCnrVmvJjE95sgWZzvW  32-432-452-7731
97                      WCNfBPZeSXh3h,c  32-454-883-3821
98                        ONda3YJiHKJOC  33-730-383-3892
99        2Z0JGkiv01Y00oCFwUGfviIbhzCdy  16-464-517-8943

                                            s_comment
0                       uriously regular requests hag
1   efully express instructions. regular requests ...
2   etect about the furiously final accounts. slyl...
3   ackages boost blithely. blithely regular depos...
4   etect blithely bold asymptotes. fluffily ironi...
..                                                ...
95  ckly around the carefully fluffy theodolites. ...
96  ironic requests. furiously final theodolites c...
97  usly unusual pinto beans. brave ideas sleep ca...
98                   ifts haggle fluffily pending pai
99   express, final pinto beans x-ray slyly asympt...

[100 rows x 8 columns]

Time spend with modified SQL inspections (PSQL): 2.9326894283294678

In [7]:
# The code generated using "VIEW" and "MATERIALIZED":

#run_for_all(pipeline_code, mode="VIEW", materialize=True)