# Benchmark pure pipeline:

Runtime comparison, of the translated pipelines. As well as showcase of the original and translated code.

In [1]:
import pathlib
from inspect import cleandoc
from mlinspect import PipelineInspector
from mlinspect.utils import get_project_root

### The code of the "healthcare" pipeline that will be translated:

In [2]:
pipeline_code = cleandoc("""
    import warnings
    import os
    import pandas as pd
    from sklearn.compose import ColumnTransformer
    from sklearn.impute import SimpleImputer
    from sklearn.model_selection import train_test_split
    from sklearn.pipeline import Pipeline
    from sklearn.preprocessing import OneHotEncoder, StandardScaler
    from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier, \
        create_model
    from mlinspect.utils import get_project_root

    COUNTIES_OF_INTEREST = ['county2', 'county3']

    patients = pd.read_csv(
        os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "patients.csv"),
        na_values='?')
    histories = pd.read_csv(
        os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "histories.csv"),
        na_values='?')

    data = patients.merge(histories, on=['ssn'])
    complications = data.groupby('age_group').agg(mean_complications=('complications', 'mean'))
    data = data.merge(complications, on=['age_group'])
    data['label'] = data['complications'] > 1.2 * data['mean_complications']
    data = data[['smoker', 'last_name', 'county', 'num_children', 'race', 'income', 'label']]
    data = data[data['county'].isin(COUNTIES_OF_INTEREST)]
    impute_and_one_hot_encode = Pipeline([
        ('impute', SimpleImputer(strategy='most_frequent')),
        ('encode', OneHotEncoder(sparse=False, handle_unknown='ignore'))
    ])
    featurisation = ColumnTransformer(transformers=[
        ("impute_and_one_hot_encode", impute_and_one_hot_encode, ['smoker', 'county', 'race']),
        # ('word2vec', MyW2VTransformer(min_count=2), ['last_name']),
        ('numeric', StandardScaler(), ['num_children', 'income']),
    ], remainder='drop')
    neural_net = MyKerasClassifier(build_fn=create_model, epochs=10, batch_size=1, verbose=0)
    pipeline = Pipeline([
        ('features', featurisation),
        ('learner', neural_net)
    ])
    train_data, test_data = train_test_split(data)
    model = pipeline.fit(train_data, train_data['label'])
    print("Mean accuracy: {}".format(model.score(test_data, test_data['label'])))
""")

print(pipeline_code)

import warnings
import os
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier,         create_model
from mlinspect.utils import get_project_root

COUNTIES_OF_INTEREST = ['county2', 'county3']

patients = pd.read_csv(
    os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "patients.csv"),
    na_values='?')
histories = pd.read_csv(
    os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "histories.csv"),
    na_values='?')

data = patients.merge(histories, on=['ssn'])
complications = data.groupby('age_group').agg(mean_complications=('complications', 'mean'))
data = data.merge(complications, on=['age_group'])
data['label'] = data['complications'] > 1.2 * data['mean_complications']
data = data[['smoker', 'last_name', 'county', 'num_children', 'race', 'income', 'label']]
data = data[data['county'].isin(COUNTIES_OF_INTEREST)]
impute_and_one_hot_encode = Pipeline([
    ('impute', SimpleImputer(strategy='most_frequent')),
    ('encode', OneHotEncoder(sparse=False, handle_unknown='ignore'))
])
featurisation = ColumnTransformer(transformers=[
    ("impute_and_one_hot_encode", impute_and_one_hot_encode, ['smoker', 'county', 'race']),
    # ('word2vec', MyW2VTransformer(min_count=2), ['last_name']),
    ('numeric', StandardScaler(), ['num_children', 'income']),
], remainder='drop')
neural_net = MyKerasClassifier(build_fn=create_model, epochs=10, batch_size=1, verbose=0)
pipeline = Pipeline([
    ('features', featurisation),
    ('learner', neural_net)
])
train_data, test_data = train_test_split(data)
model = pipeline.fit(train_data, train_data['label'])
print("Mean accuracy: {}".format(model.score(test_data, test_data['label'])))

In [10]:
pipeline_code2 = cleandoc("""
    import warnings
    import os
    import pandas as pd
    from sklearn.compose import ColumnTransformer
    from sklearn.impute import SimpleImputer
    from sklearn.model_selection import train_test_split
    from sklearn.pipeline import Pipeline
    from sklearn.preprocessing import OneHotEncoder, StandardScaler
    from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier, \
        create_model
    from mlinspect.utils import get_project_root

    COUNTIES_OF_INTEREST = ['county2', 'county3']

    patients = pd.read_csv(
        os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "patients.csv"),
        na_values='?')
    histories = pd.read_csv(
        os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "histories.csv"),
        na_values='?')

    data = patients.merge(histories, on=['ssn'])
    complications = data.groupby('age_group').agg(mean_complications=('complications', 'mean'))
    data = data.merge(complications, on=['age_group'])
""")

print(pipeline_code2)

import warnings
import os
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier,         create_model
from mlinspect.utils import get_project_root

COUNTIES_OF_INTEREST = ['county2', 'county3']

patients = pd.read_csv(
    os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "patients.csv"),
    na_values='?')
histories = pd.read_csv(
    os.path.join( str(get_project_root()), "example_pipelines", "healthcare", "histories.csv"),
    na_values='?')

data = patients.merge(histories, on=['ssn'])
complications = data.groupby('age_group').agg(mean_complications=('complications', 'mean'))
data = data.merge(complications, on=['age_group'])

In [3]:
## The function to retrieve the generated code:
def get_sql_query(pipe_code, mode, materialize):
    PipelineInspector \
        .on_pipeline_from_string(pipe_code) \
        .execute_in_sql(dbms_connector=None, mode=mode, materialize=materialize)

    setup_file = \
        pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/create_table.sql")
    test_file = \
        pathlib.Path(get_project_root() / r"mlinspect/to_sql/generated_code/pipeline.sql")

    with setup_file.open("r") as file:
        set_up_code = file.read()

    with test_file.open("r") as file:
        test__code = file.read()

    return set_up_code, test__code

## Generated Code Showcase:
The code generated shows all the sql_code for the last call on the DBMS. The commented parts are the queries with which
the data for training, testing and validation were retrieved.

In [4]:
# The code generated using "CTE":
setup_code, test_code = get_sql_query(pipeline_code, mode="CTE", materialize=False)
print(setup_code + "\n" + test_code)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

Mean accuracy:
CREATE TABLE patients_1_mlinid0 (
	"id" INT,
	"first_name" VARCHAR(100),
	"last_name" VARCHAR(100),
	"race" VARCHAR(100),
	"county" VARCHAR(100),
	"num_children" INT,
	"income" FLOAT,
	"age_group" VARCHAR(100),
	"ssn" VARCHAR(100)
);

COPY patients_1_mlinid0("id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn") FROM 'c:\users\dime\sqlundmlinspect\mlinspect\example_pipelines\healthcare\patients.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);


CREATE TABLE histories_2_mlinid1 (
	"smoker" VARCHAR(100),
	"complications" INT,
	"ssn" VARCHAR(100)
);

COPY histories_2_mlinid1("smoker", "complications", "ssn") FROM 'c:\users\dime\sqlundmlinspect\mlinspect\example_pipelines\healthcare\histories.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);



WITH patients_1_mlinid0_ctid AS (
	SELECT *, ctid AS patients_1_mlinid0_ctid
	FROM patients_1_mlinid0
)
,
histories_2_mlinid1_ctid AS (
	SELECT *, ctid AS histories_2_mlinid1_ctid
	FROM histories_2_mlinid1
)
,
block_mlinid2_3 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1.patients_1_mlinid0_ctid, tb2."smoker", tb2."complications", tb2.histories_2_mlinid1_ctid
	FROM patients_1_mlinid0_ctid tb1
	INNER JOIN histories_2_mlinid1_ctid tb2 ON tb1."ssn" = tb2."ssn"
)
,
block_mlinid3_4 AS (
	SELECT "age_group", AVG("complications") AS "mean_complications"
	FROM block_mlinid2_3
	GROUP BY "age_group"
)
,
block_mlinid4_5 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1."smoker", tb1."complications", tb1.patients_1_mlinid0_ctid, tb1.histories_2_mlinid1_ctid, tb2."mean_complications"
	FROM block_mlinid2_3 tb1
	INNER JOIN block_mlinid3_4 tb2 ON tb1."age_group" = tb2."age_group"
)
,
block_mlinid5_6 AS (
	SELECT "complications", patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid4_5
)
,
block_mlinid6_7 AS (
	SELECT "mean_complications", patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid4_5
)
,
block_mlinid7_9 AS (
	SELECT 1.2 * "mean_complications" AS op_8, patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid4_5
)
,
block_mlinid8_11 AS (
	SELECT ("complications" > 1.2 * "mean_complications") AS op_10, patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid4_5
)
,
block_mlinid9_12 AS (
	SELECT *, "complications" > 1.2 * "mean_complications" AS label
	FROM block_mlinid4_5
)
,
block_mlinid10_13 AS (
	SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label", patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid9_12
)
,
block_mlinid11_14 AS (
	SELECT "county", patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid10_13
)
,
block_mlinid12_15 AS (
	SELECT "county" IN ('county2', 'county3'), patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_mlinid10_13
)
,
block_mlinid13_16 AS (
	SELECT *
	FROM block_mlinid10_13
	WHERE "county" IN ('county2', 'county3')
)
,
block_train_split_mlinid14_17 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_16 ORDER BY RANDOM()) block_mlinid13_16
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect < 0.75 * (SELECT COUNT(*) FROM block_mlinid13_16)
)
,
block_test_split_mlinid14_18 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_16 ORDER BY RANDOM()) block_mlinid13_16
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect >= 0.75 * (SELECT COUNT(*) FROM block_mlinid13_16)
)
,
block_mlinid16_19 AS (
	SELECT "label", patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_train_split_mlinid14_17
)
,
block_impute_fit_20_most_frequent_21 AS (
	WITH counts_help AS (
		SELECT "smoker", COUNT(*) AS count
		FROM block_train_split_mlinid14_17
		GROUP BY "smoker"
	)
	SELECT "smoker" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
)
,
block_impute_fit_22_most_frequent_23 AS (
	WITH counts_help AS (
		SELECT "county", COUNT(*) AS count
		FROM block_train_split_mlinid14_17
		GROUP BY "county"
	)
	SELECT "county" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
)
,
block_impute_fit_24_most_frequent_25 AS (
	WITH counts_help AS (
		SELECT "race", COUNT(*) AS count
		FROM block_train_split_mlinid14_17
		GROUP BY "race"
	)
	SELECT "race" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
)
,
block_impute_mlinid18_26 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_20_most_frequent_21)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_22_most_frequent_23)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_24_most_frequent_25)) AS "race",
		"income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_train_split_mlinid14_17
)
,
block_one_hot_fit_27_28 AS (
	SELECT "smoker",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("smoker")) FROM block_impute_mlinid18_26) AS int) - ("rank")]) AS "smoker_one_hot"
		FROM (
		SELECT "smoker", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("smoker") FROM block_impute_mlinid18_26) oh
	) one_hot_help
)
,
block_one_hot_fit_29_30 AS (
	SELECT "county",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("county")) FROM block_impute_mlinid18_26) AS int) - ("rank")]) AS "county_one_hot"
		FROM (
		SELECT "county", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("county") FROM block_impute_mlinid18_26) oh
	) one_hot_help
)
,
block_one_hot_fit_31_32 AS (
	SELECT "race",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("race")) FROM block_impute_mlinid18_26) AS int) - ("rank")]) AS "race_one_hot"
		FROM (
		SELECT "race", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("race") FROM block_impute_mlinid18_26) oh
	) one_hot_help
)
,
block_onehot_mlinid19_33 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_one_hot_fit_27_28, block_one_hot_fit_29_30, block_one_hot_fit_31_32, block_impute_mlinid18_26
	WHERE
	 	block_impute_mlinid18_26."smoker" = block_one_hot_fit_27_28."smoker" AND
		block_impute_mlinid18_26."county" = block_one_hot_fit_29_30."county" AND
		block_impute_mlinid18_26."race" = block_one_hot_fit_31_32."race"
)
,
block_std_scalar_fit_34_std_avg_35 AS (
	SELECT (SELECT AVG("num_children") FROM block_train_split_mlinid14_17) AS avg_col_std_scal,(SELECT STDDEV_POP("num_children") FROM block_train_split_mlinid14_17) AS std_dev_col_std_scal
)
,
block_std_scalar_fit_36_std_avg_37 AS (
	SELECT (SELECT AVG("income") FROM block_train_split_mlinid14_17) AS avg_col_std_scal,(SELECT STDDEV_POP("income") FROM block_train_split_mlinid14_17) AS std_dev_col_std_scal
)
,
block_stdscaler_mlinid20_38 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) AS "income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_train_split_mlinid14_17
)
,
block_column_transformer_lvl1_40 AS (
	WITH lvl0_column_transformer_39 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_20_most_frequent_21)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_22_most_frequent_23)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_24_most_frequent_25)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) AS "income",
			patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
		FROM block_train_split_mlinid14_17
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM lvl0_column_transformer_39, block_one_hot_fit_29_30, block_one_hot_fit_31_32, block_one_hot_fit_27_28
	WHERE
		lvl0_column_transformer_39."smoker" = block_one_hot_fit_27_28."smoker" AND
		lvl0_column_transformer_39."county" = block_one_hot_fit_29_30."county" AND
		lvl0_column_transformer_39."race" = block_one_hot_fit_31_32."race"
)

/*ATTENTION: MODEL FIT: TRAIN LABELS
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_40 ORDER BY index_mlinspect;
*/


/*ATTENTION: MODEL FIT: TEST LABELS
SELECT "label" FROM block_mlinid16_19 ORDER BY index_mlinspect;
*/

,
block_mlinid26_41 AS (
	SELECT "label", patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_test_split_mlinid14_18
)
,
block_impute_mlinid43_44 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_20_most_frequent_21)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_22_most_frequent_23)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_24_most_frequent_25)) AS "race",
		"income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_test_split_mlinid14_18
)
,
block_onehot_mlinid45_46 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_one_hot_fit_27_28, block_one_hot_fit_29_30, block_one_hot_fit_31_32, block_impute_mlinid43_44
	WHERE
	 	block_impute_mlinid43_44."smoker" = block_one_hot_fit_27_28."smoker" AND
		block_impute_mlinid43_44."county" = block_one_hot_fit_29_30."county" AND
		block_impute_mlinid43_44."race" = block_one_hot_fit_31_32."race"
)
,
block_stdscaler_mlinid47_48 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) AS "income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_test_split_mlinid14_18
)
,
block_column_transformer_lvl1_50 AS (
	WITH lvl0_column_transformer_49 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_20_most_frequent_21)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_22_most_frequent_23)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_24_most_frequent_25)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_34_std_avg_35)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_36_std_avg_37)) AS "income",
			patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
		FROM block_test_split_mlinid14_18
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_1_mlinid0_ctid, histories_2_mlinid1_ctid
	FROM block_one_hot_fit_29_30, block_one_hot_fit_31_32, lvl0_column_transformer_49, block_one_hot_fit_27_28
	WHERE
		lvl0_column_transformer_49."smoker" = block_one_hot_fit_27_28."smoker" AND
		lvl0_column_transformer_49."county" = block_one_hot_fit_29_30."county" AND
		lvl0_column_transformer_49."race" = block_one_hot_fit_31_32."race"
)

/*ATTENTION: MODEL SCORE: INPUT DATA
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_50 ORDER BY index_mlinspect;
*/


/*ATTENTION: MODEL SCORE: EXPECTED OUTPUT DATA
SELECT "label" FROM block_mlinid26_41 ORDER BY index_mlinspect;
*/

SELECT "label" FROM block_mlinid26_41 ORDER BY index_mlinspect

c:\users\dime\sqlundmlinspect\mlinspect\venv\lib\site-packages\sklearn\impute\_base.py:42: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)
c:\users\dime\sqlundmlinspect\mlinspect\venv\lib\site-packages\sklearn\impute\_base.py:42: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)
c:\users\dime\sqlundmlinspect\mlinspect\venv\lib\site-packages\sklearn\impute\_base.py:42: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

In [11]:
# The code generated using "CTE":
setup_code2, test_code2 = get_sql_query(pipeline_code2, mode="CTE", materialize=False)
print(setup_code2 + "\n" + test_code2)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

from mlinspect.instrumentation._pipeline_executor import set_code_reference_call, set_code_reference_subscript, monkey_patch, undo_monkey_patch
monkey_patch()
import warnings
import os
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier, create_model
from mlinspect.utils import get_project_root
COUNTIES_OF_INTEREST = ['county2', 'county3']
patients = pd.read_csv(os.path.join(str(get_project_root(**
    set_code_reference_call(15, 22, 15, 40)), **set_code_reference_call(15,
    18, 15, 41)), 'example_pipelines', 'healthcare', 'patients.csv', **
    set_code_reference_call(15, 4, 15, 93)), **set_code_reference_call(14,
    11, 16, 18, na_values='?'))
histories = pd.read_csv(os.path.join(str(get_project_root(**
    set_code_reference_call(18, 22, 18, 40)), **set_code_reference_call(18,
    18, 18, 41)), 'example_pipelines', 'healthcare', 'histories.csv', **
    set_code_reference_call(18, 4, 18, 94)), **set_code_reference_call(17,
    12, 19, 18, na_values='?'))
data = patients.merge(histories, **set_code_reference_call(21, 7, 21, 44,
    on=['ssn']))
complications = data.groupby('age_group', **set_code_reference_call(22, 16,
    22, 41)).agg(**set_code_reference_call(22, 16, 22, 91,
    mean_complications=('complications', 'mean')))
data = data.merge(complications, **set_code_reference_call(23, 7, 23, 50,
    on=['age_group']))
undo_monkey_patch()

CREATE TABLE patients_159_mlinid0 (
	"id" INT,
	"first_name" VARCHAR(100),
	"last_name" VARCHAR(100),
	"race" VARCHAR(100),
	"county" VARCHAR(100),
	"num_children" INT,
	"income" FLOAT,
	"age_group" VARCHAR(100),
	"ssn" VARCHAR(100)
);

COPY patients_159_mlinid0("id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn") FROM 'c:\users\dime\sqlundmlinspect\mlinspect\example_pipelines\healthcare\patients.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);


CREATE TABLE histories_160_mlinid1 (
	"smoker" VARCHAR(100),
	"complications" INT,
	"ssn" VARCHAR(100)
);

COPY histories_160_mlinid1("smoker", "complications", "ssn") FROM 'c:\users\dime\sqlundmlinspect\mlinspect\example_pipelines\healthcare\histories.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);



WITH patients_159_mlinid0_ctid AS (
	SELECT *, ctid AS patients_159_mlinid0_ctid
	FROM patients_159_mlinid0
)
,
histories_160_mlinid1_ctid AS (
	SELECT *, ctid AS histories_160_mlinid1_ctid
	FROM histories_160_mlinid1
)
,
block_mlinid2_161 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1.patients_159_mlinid0_ctid, tb2."smoker", tb2."complications", tb2.histories_160_mlinid1_ctid
	FROM patients_159_mlinid0_ctid tb1
	INNER JOIN histories_160_mlinid1_ctid tb2 ON tb1."ssn" = tb2."ssn"
)
,
block_mlinid3_162 AS (
	SELECT "age_group", AVG("complications") AS "mean_complications"
	FROM block_mlinid2_161
	GROUP BY "age_group"
)
,
block_mlinid4_163 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1."smoker", tb1."complications", tb1.histories_160_mlinid1_ctid, tb1.patients_159_mlinid0_ctid, tb2."mean_complications"
	FROM block_mlinid2_161 tb1
	INNER JOIN block_mlinid3_162 tb2 ON tb1."age_group" = tb2."age_group"
)
SELECT "id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn", "smoker", "complications", "mean_complications", "age_group" FROM block_mlinid4_163;

In [7]:
# The code generated using "VIEW":
setup_code, test_code = get_sql_query(pipeline_code, mode="VIEW", materialize=False)
view_no_mat = setup_code + "\n" + test_code
print(view_no_mat)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

from mlinspect.instrumentation._pipeline_executor import set_code_reference_call, set_code_reference_subscript, monkey_patch, undo_monkey_patch
monkey_patch()
import warnings
import os
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier, create_model
from mlinspect.utils import get_project_root
COUNTIES_OF_INTEREST = ['county2', 'county3']
patients = pd.read_csv(os.path.join(str(get_project_root(**
    set_code_reference_call(15, 22, 15, 40)), **set_code_reference_call(15,
    18, 15, 41)), 'example_pipelines', 'healthcare', 'patients.csv', **
    set_code_reference_call(15, 4, 15, 93)), **set_code_reference_call(14,
    11, 16, 18, na_values='?'))
histories = pd.read_csv(os.path.join(str(get_project_root(**
    set_code_reference_call(18, 22, 18, 40)), **set_code_reference_call(18,
    18, 18, 41)), 'example_pipelines', 'healthcare', 'histories.csv', **
    set_code_reference_call(18, 4, 18, 94)), **set_code_reference_call(17,
    12, 19, 18, na_values='?'))
data = patients.merge(histories, **set_code_reference_call(21, 7, 21, 44,
    on=['ssn']))
complications = data.groupby('age_group', **set_code_reference_call(22, 16,
    22, 41)).agg(**set_code_reference_call(22, 16, 22, 91,
    mean_complications=('complications', 'mean')))
data = data.merge(complications, **set_code_reference_call(23, 7, 23, 50,
    on=['age_group']))
data[set_code_reference_subscript(24, 0, 24, 72, ('label'))] = data[
    set_code_reference_subscript(24, 16, 24, 37, ('complications'))
    ] > 1.2 * data[set_code_reference_subscript(24, 46, 24, 72, (
    'mean_complications'))]
data = data[set_code_reference_subscript(25, 7, 25, 89, (['smoker',
    'last_name', 'county', 'num_children', 'race', 'income', 'label']))]
data = data[set_code_reference_subscript(26, 7, 26, 54, (data[
    set_code_reference_subscript(26, 12, 26, 26, ('county'))].isin(
    COUNTIES_OF_INTEREST, **set_code_reference_call(26, 12, 26, 53))))]
impute_and_one_hot_encode = Pipeline([('impute', SimpleImputer(**
    set_code_reference_call(28, 15, 28, 54, strategy='most_frequent'))), (
    'encode', OneHotEncoder(**set_code_reference_call(29, 15, 29, 67,
    sparse=False, handle_unknown='ignore')))], **set_code_reference_call(27,
    28, 30, 2))
featurisation = ColumnTransformer(**set_code_reference_call(31, 16, 35, 20,
    transformers=[('impute_and_one_hot_encode', impute_and_one_hot_encode,
    ['smoker', 'county', 'race']), ('numeric', StandardScaler(**
    set_code_reference_call(34, 16, 34, 32)), ['num_children', 'income'])],
    remainder='drop'))
neural_net = MyKerasClassifier(**set_code_reference_call(36, 13, 36, 89,
    build_fn=create_model, epochs=10, batch_size=1, verbose=0))
pipeline = Pipeline([('features', featurisation), ('learner', neural_net)],
    **set_code_reference_call(37, 11, 40, 2))
train_data, test_data = train_test_split(data, **set_code_reference_call(41,
    24, 41, 46))
model = pipeline.fit(train_data, train_data[set_code_reference_subscript(42,
    33, 42, 52, ('label'))], **set_code_reference_call(42, 8, 42, 53))
print('Mean accuracy: {}'.format(model.score(test_data, test_data[
    set_code_reference_subscript(43, 56, 43, 74, ('label'))], **
    set_code_reference_call(43, 33, 43, 75)), **set_code_reference_call(43,
    6, 43, 76)), **set_code_reference_call(43, 0, 43, 77))
undo_monkey_patch()

Mean accuracy:
CREATE TABLE patients_55_mlinid0 (
	"id" INT,
	"first_name" VARCHAR(100),
	"last_name" VARCHAR(100),
	"race" VARCHAR(100),
	"county" VARCHAR(100),
	"num_children" INT,
	"income" FLOAT,
	"age_group" VARCHAR(100),
	"ssn" VARCHAR(100)
);

COPY patients_55_mlinid0("id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn") FROM 'c:\users\dime\sqlundmlinspect\mlinspect\example_pipelines\healthcare\patients.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);


CREATE TABLE histories_56_mlinid1 (
	"smoker" VARCHAR(100),
	"complications" INT,
	"ssn" VARCHAR(100)
);

COPY histories_56_mlinid1("smoker", "complications", "ssn") FROM 'c:\users\dime\sqlundmlinspect\mlinspect\example_pipelines\healthcare\histories.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);



CREATE VIEW patients_55_mlinid0_ctid AS (
	SELECT *, ctid AS patients_55_mlinid0_ctid
	FROM patients_55_mlinid0
);

CREATE VIEW histories_56_mlinid1_ctid AS (
	SELECT *, ctid AS histories_56_mlinid1_ctid
	FROM histories_56_mlinid1
);

CREATE VIEW block_mlinid2_57 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1.patients_55_mlinid0_ctid, tb2."smoker", tb2."complications", tb2.histories_56_mlinid1_ctid
	FROM patients_55_mlinid0_ctid tb1
	INNER JOIN histories_56_mlinid1_ctid tb2 ON tb1."ssn" = tb2."ssn"
);

CREATE VIEW block_mlinid3_58 AS (
	SELECT "age_group", AVG("complications") AS "mean_complications"
	FROM block_mlinid2_57
	GROUP BY "age_group"
);

CREATE VIEW block_mlinid4_59 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1."smoker", tb1."complications", tb1.patients_55_mlinid0_ctid, tb1.histories_56_mlinid1_ctid, tb2."mean_complications"
	FROM block_mlinid2_57 tb1
	INNER JOIN block_mlinid3_58 tb2 ON tb1."age_group" = tb2."age_group"
);

CREATE VIEW block_mlinid5_60 AS (
	SELECT "complications", patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_mlinid4_59
);

CREATE VIEW block_mlinid6_61 AS (
	SELECT "mean_complications", patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_mlinid4_59
);

CREATE VIEW block_mlinid7_63 AS (
	SELECT 1.2 * "mean_complications" AS op_62, patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_mlinid4_59
);

CREATE VIEW block_mlinid8_65 AS (
	SELECT ("complications" > 1.2 * "mean_complications") AS op_64, patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_mlinid4_59
);

CREATE VIEW block_mlinid9_66 AS (
	SELECT *, "complications" > 1.2 * "mean_complications" AS label
	FROM block_mlinid4_59
);

CREATE VIEW block_mlinid10_67 AS (
	SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label", patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_mlinid9_66
);

CREATE VIEW block_mlinid11_68 AS (
	SELECT "county", patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_mlinid10_67
);

CREATE VIEW block_mlinid12_69 AS (
	SELECT "county" IN ('county2', 'county3'), patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_mlinid10_67
);

CREATE VIEW block_mlinid13_70 AS (
	SELECT *
	FROM block_mlinid10_67
	WHERE "county" IN ('county2', 'county3')
);

CREATE VIEW block_train_split_mlinid14_71 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_70 ORDER BY RANDOM()) block_mlinid13_70
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect < 0.75 * (SELECT COUNT(*) FROM block_mlinid13_70)
);

CREATE VIEW block_test_split_mlinid14_72 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_70 ORDER BY RANDOM()) block_mlinid13_70
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect >= 0.75 * (SELECT COUNT(*) FROM block_mlinid13_70)
);

CREATE VIEW block_mlinid16_73 AS (
	SELECT "label", patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_train_split_mlinid14_71
);

CREATE VIEW block_impute_fit_74_most_frequent_75 AS (
	WITH counts_help AS (
		SELECT "smoker", COUNT(*) AS count
		FROM block_train_split_mlinid14_71
		GROUP BY "smoker"
	)
	SELECT "smoker" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);

CREATE VIEW block_impute_fit_76_most_frequent_77 AS (
	WITH counts_help AS (
		SELECT "county", COUNT(*) AS count
		FROM block_train_split_mlinid14_71
		GROUP BY "county"
	)
	SELECT "county" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);

CREATE VIEW block_impute_fit_78_most_frequent_79 AS (
	WITH counts_help AS (
		SELECT "race", COUNT(*) AS count
		FROM block_train_split_mlinid14_71
		GROUP BY "race"
	)
	SELECT "race" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);

CREATE VIEW block_impute_mlinid18_80 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_74_most_frequent_75)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_76_most_frequent_77)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_78_most_frequent_79)) AS "race",
		"income",
		patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_train_split_mlinid14_71
);

CREATE VIEW block_one_hot_fit_81_82 AS (
	SELECT "smoker",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("smoker")) FROM block_impute_mlinid18_80) AS int) - ("rank")]) AS "smoker_one_hot"
		FROM (
		SELECT "smoker", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("smoker") FROM block_impute_mlinid18_80) oh
	) one_hot_help
);

CREATE VIEW block_one_hot_fit_83_84 AS (
	SELECT "county",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("county")) FROM block_impute_mlinid18_80) AS int) - ("rank")]) AS "county_one_hot"
		FROM (
		SELECT "county", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("county") FROM block_impute_mlinid18_80) oh
	) one_hot_help
);

CREATE VIEW block_one_hot_fit_85_86 AS (
	SELECT "race",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("race")) FROM block_impute_mlinid18_80) AS int) - ("rank")]) AS "race_one_hot"
		FROM (
		SELECT "race", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("race") FROM block_impute_mlinid18_80) oh
	) one_hot_help
);

CREATE VIEW block_onehot_mlinid19_87 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_one_hot_fit_81_82, block_one_hot_fit_83_84, block_one_hot_fit_85_86, block_impute_mlinid18_80
	WHERE
	 	block_impute_mlinid18_80."smoker" = block_one_hot_fit_81_82."smoker" AND
		block_impute_mlinid18_80."county" = block_one_hot_fit_83_84."county" AND
		block_impute_mlinid18_80."race" = block_one_hot_fit_85_86."race"
);

CREATE VIEW block_std_scalar_fit_88_std_avg_89 AS (
	SELECT (SELECT AVG("num_children") FROM block_train_split_mlinid14_71) AS avg_col_std_scal,(SELECT STDDEV_POP("num_children") FROM block_train_split_mlinid14_71) AS std_dev_col_std_scal
);

CREATE VIEW block_std_scalar_fit_90_std_avg_91 AS (
	SELECT (SELECT AVG("income") FROM block_train_split_mlinid14_71) AS avg_col_std_scal,(SELECT STDDEV_POP("income") FROM block_train_split_mlinid14_71) AS std_dev_col_std_scal
);

CREATE VIEW block_stdscaler_mlinid20_92 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_88_std_avg_89)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_88_std_avg_89)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_90_std_avg_91)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_90_std_avg_91)) AS "income",
		patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_train_split_mlinid14_71
);

CREATE VIEW block_column_transformer_lvl1_94 AS (
	WITH lvl0_column_transformer_93 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_74_most_frequent_75)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_76_most_frequent_77)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_78_most_frequent_79)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_88_std_avg_89)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_88_std_avg_89)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_90_std_avg_91)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_90_std_avg_91)) AS "income",
			patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
		FROM block_train_split_mlinid14_71
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_one_hot_fit_85_86, block_one_hot_fit_83_84, block_one_hot_fit_81_82, lvl0_column_transformer_93
	WHERE
		lvl0_column_transformer_93."county" = block_one_hot_fit_83_84."county" AND
		lvl0_column_transformer_93."race" = block_one_hot_fit_85_86."race" AND
		lvl0_column_transformer_93."smoker" = block_one_hot_fit_81_82."smoker"
);


/*ATTENTION: MODEL FIT: TRAIN LABELS
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_94 ORDER BY index_mlinspect;
*/


/*ATTENTION: MODEL FIT: TEST LABELS
SELECT "label" FROM block_mlinid16_73 ORDER BY index_mlinspect;
*/

CREATE VIEW block_mlinid26_95 AS (
	SELECT "label", patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_test_split_mlinid14_72
);

CREATE VIEW block_impute_mlinid97_98 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_74_most_frequent_75)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_76_most_frequent_77)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_78_most_frequent_79)) AS "race",
		"income",
		patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_test_split_mlinid14_72
);

CREATE VIEW block_onehot_mlinid99_100 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_one_hot_fit_81_82, block_one_hot_fit_83_84, block_one_hot_fit_85_86, block_impute_mlinid97_98
	WHERE
	 	block_impute_mlinid97_98."smoker" = block_one_hot_fit_81_82."smoker" AND
		block_impute_mlinid97_98."county" = block_one_hot_fit_83_84."county" AND
		block_impute_mlinid97_98."race" = block_one_hot_fit_85_86."race"
);

CREATE VIEW block_stdscaler_mlinid101_102 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_88_std_avg_89)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_88_std_avg_89)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_90_std_avg_91)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_90_std_avg_91)) AS "income",
		patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_test_split_mlinid14_72
);

CREATE VIEW block_column_transformer_lvl1_104 AS (
	WITH lvl0_column_transformer_103 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_74_most_frequent_75)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_76_most_frequent_77)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_78_most_frequent_79)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_88_std_avg_89)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_88_std_avg_89)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_90_std_avg_91)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_90_std_avg_91)) AS "income",
			patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
		FROM block_test_split_mlinid14_72
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_55_mlinid0_ctid, histories_56_mlinid1_ctid
	FROM block_one_hot_fit_85_86, block_one_hot_fit_83_84, block_one_hot_fit_81_82, lvl0_column_transformer_103
	WHERE
		lvl0_column_transformer_103."county" = block_one_hot_fit_83_84."county" AND
		lvl0_column_transformer_103."smoker" = block_one_hot_fit_81_82."smoker" AND
		lvl0_column_transformer_103."race" = block_one_hot_fit_85_86."race"
);


/*ATTENTION: MODEL SCORE: INPUT DATA
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_104 ORDER BY index_mlinspect;
*/


/*ATTENTION: MODEL SCORE: EXPECTED OUTPUT DATA
SELECT "label" FROM block_mlinid26_95 ORDER BY index_mlinspect;
*/

SELECT "label" FROM block_mlinid26_95 ORDER BY index_mlinspect

c:\users\dime\sqlundmlinspect\mlinspect\venv\lib\site-packages\sklearn\impute\_base.py:42: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)
c:\users\dime\sqlundmlinspect\mlinspect\venv\lib\site-packages\sklearn\impute\_base.py:42: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)
c:\users\dime\sqlundmlinspect\mlinspect\venv\lib\site-packages\sklearn\impute\_base.py:42: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

### Full example of the entire code generated using "VIEW" + "MATERIALIZE":

In [8]:
# The code generated using "VIEW" and "MATERIALIZED":
setup_code_m, test_code_m = get_sql_query(pipeline_code, mode="VIEW", materialize=True)
view_with_mat = setup_code_m + "\n" + test_code_m
print(view_with_mat)

Just translation to SQL is performed!
-> SQL-Code placed at: mlinspect/to_sql/generated_code.sql

from mlinspect.instrumentation._pipeline_executor import set_code_reference_call, set_code_reference_subscript, monkey_patch, undo_monkey_patch
monkey_patch()
import warnings
import os
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from example_pipelines.healthcare.healthcare_utils import MyW2VTransformer, MyKerasClassifier, create_model
from mlinspect.utils import get_project_root
COUNTIES_OF_INTEREST = ['county2', 'county3']
patients = pd.read_csv(os.path.join(str(get_project_root(**
    set_code_reference_call(15, 22, 15, 40)), **set_code_reference_call(15,
    18, 15, 41)), 'example_pipelines', 'healthcare', 'patients.csv', **
    set_code_reference_call(15, 4, 15, 93)), **set_code_reference_call(14,
    11, 16, 18, na_values='?'))
histories = pd.read_csv(os.path.join(str(get_project_root(**
    set_code_reference_call(18, 22, 18, 40)), **set_code_reference_call(18,
    18, 18, 41)), 'example_pipelines', 'healthcare', 'histories.csv', **
    set_code_reference_call(18, 4, 18, 94)), **set_code_reference_call(17,
    12, 19, 18, na_values='?'))
data = patients.merge(histories, **set_code_reference_call(21, 7, 21, 44,
    on=['ssn']))
complications = data.groupby('age_group', **set_code_reference_call(22, 16,
    22, 41)).agg(**set_code_reference_call(22, 16, 22, 91,
    mean_complications=('complications', 'mean')))
data = data.merge(complications, **set_code_reference_call(23, 7, 23, 50,
    on=['age_group']))
data[set_code_reference_subscript(24, 0, 24, 72, ('label'))] = data[
    set_code_reference_subscript(24, 16, 24, 37, ('complications'))
    ] > 1.2 * data[set_code_reference_subscript(24, 46, 24, 72, (
    'mean_complications'))]
data = data[set_code_reference_subscript(25, 7, 25, 89, (['smoker',
    'last_name', 'county', 'num_children', 'race', 'income', 'label']))]
data = data[set_code_reference_subscript(26, 7, 26, 54, (data[
    set_code_reference_subscript(26, 12, 26, 26, ('county'))].isin(
    COUNTIES_OF_INTEREST, **set_code_reference_call(26, 12, 26, 53))))]
impute_and_one_hot_encode = Pipeline([('impute', SimpleImputer(**
    set_code_reference_call(28, 15, 28, 54, strategy='most_frequent'))), (
    'encode', OneHotEncoder(**set_code_reference_call(29, 15, 29, 67,
    sparse=False, handle_unknown='ignore')))], **set_code_reference_call(27,
    28, 30, 2))
featurisation = ColumnTransformer(**set_code_reference_call(31, 16, 35, 20,
    transformers=[('impute_and_one_hot_encode', impute_and_one_hot_encode,
    ['smoker', 'county', 'race']), ('numeric', StandardScaler(**
    set_code_reference_call(34, 16, 34, 32)), ['num_children', 'income'])],
    remainder='drop'))
neural_net = MyKerasClassifier(**set_code_reference_call(36, 13, 36, 89,
    build_fn=create_model, epochs=10, batch_size=1, verbose=0))
pipeline = Pipeline([('features', featurisation), ('learner', neural_net)],
    **set_code_reference_call(37, 11, 40, 2))
train_data, test_data = train_test_split(data, **set_code_reference_call(41,
    24, 41, 46))
model = pipeline.fit(train_data, train_data[set_code_reference_subscript(42,
    33, 42, 52, ('label'))], **set_code_reference_call(42, 8, 42, 53))
print('Mean accuracy: {}'.format(model.score(test_data, test_data[
    set_code_reference_subscript(43, 56, 43, 74, ('label'))], **
    set_code_reference_call(43, 33, 43, 75)), **set_code_reference_call(43,
    6, 43, 76)), **set_code_reference_call(43, 0, 43, 77))
undo_monkey_patch()

Mean accuracy:
CREATE TABLE patients_105_mlinid0 (
	"id" INT,
	"first_name" VARCHAR(100),
	"last_name" VARCHAR(100),
	"race" VARCHAR(100),
	"county" VARCHAR(100),
	"num_children" INT,
	"income" FLOAT,
	"age_group" VARCHAR(100),
	"ssn" VARCHAR(100)
);

COPY patients_105_mlinid0("id", "first_name", "last_name", "race", "county", "num_children", "income", "age_group", "ssn") FROM 'c:\users\dime\sqlundmlinspect\mlinspect\example_pipelines\healthcare\patients.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);


CREATE TABLE histories_106_mlinid1 (
	"smoker" VARCHAR(100),
	"complications" INT,
	"ssn" VARCHAR(100)
);

COPY histories_106_mlinid1("smoker", "complications", "ssn") FROM 'c:\users\dime\sqlundmlinspect\mlinspect\example_pipelines\healthcare\histories.csv' WITH (DELIMITER ',', NULL '?', FORMAT CSV, HEADER TRUE);



CREATE VIEW patients_105_mlinid0_ctid AS (
	SELECT *, ctid AS patients_105_mlinid0_ctid
	FROM patients_105_mlinid0
);

CREATE VIEW histories_106_mlinid1_ctid AS (
	SELECT *, ctid AS histories_106_mlinid1_ctid
	FROM histories_106_mlinid1
);

CREATE VIEW block_mlinid2_107 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1.patients_105_mlinid0_ctid, tb2."smoker", tb2."complications", tb2.histories_106_mlinid1_ctid
	FROM patients_105_mlinid0_ctid tb1
	INNER JOIN histories_106_mlinid1_ctid tb2 ON tb1."ssn" = tb2."ssn"
);

CREATE VIEW block_mlinid3_108 AS (
	SELECT "age_group", AVG("complications") AS "mean_complications"
	FROM block_mlinid2_107
	GROUP BY "age_group"
);

CREATE VIEW block_mlinid4_109 AS (
	SELECT tb1."id", tb1."first_name", tb1."last_name", tb1."race", tb1."county", tb1."num_children", tb1."income", tb1."age_group", tb1."ssn", tb1."smoker", tb1."complications", tb1.patients_105_mlinid0_ctid, tb1.histories_106_mlinid1_ctid, tb2."mean_complications"
	FROM block_mlinid2_107 tb1
	INNER JOIN block_mlinid3_108 tb2 ON tb1."age_group" = tb2."age_group"
);

CREATE VIEW block_mlinid5_110 AS (
	SELECT "complications", patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_mlinid4_109
);

CREATE VIEW block_mlinid6_111 AS (
	SELECT "mean_complications", patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_mlinid4_109
);

CREATE VIEW block_mlinid7_113 AS (
	SELECT 1.2 * "mean_complications" AS op_112, patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_mlinid4_109
);

CREATE VIEW block_mlinid8_115 AS (
	SELECT ("complications" > 1.2 * "mean_complications") AS op_114, patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_mlinid4_109
);

CREATE VIEW block_mlinid9_116 AS (
	SELECT *, "complications" > 1.2 * "mean_complications" AS label
	FROM block_mlinid4_109
);

CREATE VIEW block_mlinid10_117 AS (
	SELECT "smoker", "last_name", "county", "num_children", "race", "income", "label", patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_mlinid9_116
);

CREATE VIEW block_mlinid11_118 AS (
	SELECT "county", patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_mlinid10_117
);

CREATE VIEW block_mlinid12_119 AS (
	SELECT "county" IN ('county2', 'county3'), patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_mlinid10_117
);

CREATE VIEW block_mlinid13_120 AS (
	SELECT *
	FROM block_mlinid10_117
	WHERE "county" IN ('county2', 'county3')
);

CREATE VIEW block_train_split_mlinid14_121 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_120 ORDER BY RANDOM()) block_mlinid13_120
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect < 0.75 * (SELECT COUNT(*) FROM block_mlinid13_120)
);

CREATE VIEW block_test_split_mlinid14_122 AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_120 ORDER BY RANDOM()) block_mlinid13_120
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect >= 0.75 * (SELECT COUNT(*) FROM block_mlinid13_120)
);

CREATE VIEW block_mlinid16_123 AS (
	SELECT "label", patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_train_split_mlinid14_121
);

CREATE MATERIALIZED VIEW block_train_split_mlinid14_121_materialized AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_120 ORDER BY RANDOM()) block_mlinid13_120
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect < 0.75 * (SELECT COUNT(*) FROM block_mlinid13_120)
);

CREATE MATERIALIZED VIEW block_impute_fit_124_most_frequent_125_materialized AS (
	WITH counts_help AS (
		SELECT "smoker", COUNT(*) AS count
		FROM block_train_split_mlinid14_121_materialized
		GROUP BY "smoker"
	)
	SELECT "smoker" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);

CREATE MATERIALIZED VIEW block_impute_fit_126_most_frequent_127_materialized AS (
	WITH counts_help AS (
		SELECT "county", COUNT(*) AS count
		FROM block_train_split_mlinid14_121_materialized
		GROUP BY "county"
	)
	SELECT "county" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);

CREATE MATERIALIZED VIEW block_impute_fit_128_most_frequent_129_materialized AS (
	WITH counts_help AS (
		SELECT "race", COUNT(*) AS count
		FROM block_train_split_mlinid14_121_materialized
		GROUP BY "race"
	)
	SELECT "race" AS most_frequent
	FROM counts_help
	WHERE counts_help.count = (SELECT MAX(count) FROM counts_help)
	LIMIT 1
);

CREATE VIEW block_impute_mlinid18_130 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_124_most_frequent_125_materialized)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_126_most_frequent_127_materialized)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_128_most_frequent_129_materialized)) AS "race",
		"income",
		patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_train_split_mlinid14_121_materialized
);

CREATE MATERIALIZED VIEW block_one_hot_fit_131_132_materialized AS (
	SELECT "smoker",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("smoker")) FROM block_impute_mlinid18_130) AS int) - ("rank")]) AS "smoker_one_hot"
		FROM (
		SELECT "smoker", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("smoker") FROM block_impute_mlinid18_130) oh
	) one_hot_help
);

CREATE MATERIALIZED VIEW block_one_hot_fit_133_134_materialized AS (
	SELECT "county",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("county")) FROM block_impute_mlinid18_130) AS int) - ("rank")]) AS "county_one_hot"
		FROM (
		SELECT "county", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("county") FROM block_impute_mlinid18_130) oh
	) one_hot_help
);

CREATE MATERIALIZED VIEW block_one_hot_fit_135_136_materialized AS (
	SELECT "race",
	(array_fill(0, ARRAY["rank" - 1]) || 1 ) || array_fill(0, ARRAY[ CAST((select COUNT(distinct("race")) FROM block_impute_mlinid18_130) AS int) - ("rank")]) AS "race_one_hot"
		FROM (
		SELECT "race", CAST(ROW_NUMBER() OVER() AS int) AS "rank"
		FROM (SELECT distinct("race") FROM block_impute_mlinid18_130) oh
	) one_hot_help
);

CREATE VIEW block_onehot_mlinid19_137 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_one_hot_fit_131_132_materialized, block_one_hot_fit_133_134_materialized, block_one_hot_fit_135_136_materialized, block_impute_mlinid18_130
	WHERE
	 	block_impute_mlinid18_130."smoker" = block_one_hot_fit_131_132_materialized."smoker" AND
		block_impute_mlinid18_130."county" = block_one_hot_fit_133_134_materialized."county" AND
		block_impute_mlinid18_130."race" = block_one_hot_fit_135_136_materialized."race"
);

CREATE MATERIALIZED VIEW block_std_scalar_fit_138_std_avg_139_materialized AS (
	SELECT (SELECT AVG("num_children") FROM block_train_split_mlinid14_121_materialized) AS avg_col_std_scal,(SELECT STDDEV_POP("num_children") FROM block_train_split_mlinid14_121_materialized) AS std_dev_col_std_scal
);

CREATE MATERIALIZED VIEW block_std_scalar_fit_140_std_avg_141_materialized AS (
	SELECT (SELECT AVG("income") FROM block_train_split_mlinid14_121_materialized) AS avg_col_std_scal,(SELECT STDDEV_POP("income") FROM block_train_split_mlinid14_121_materialized) AS std_dev_col_std_scal
);

CREATE VIEW block_stdscaler_mlinid20_142 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_138_std_avg_139_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_138_std_avg_139_materialized)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_140_std_avg_141_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_140_std_avg_141_materialized)) AS "income",
		patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_train_split_mlinid14_121_materialized
);

CREATE VIEW block_column_transformer_lvl1_144 AS (
	WITH lvl0_column_transformer_143 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_124_most_frequent_125_materialized)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_126_most_frequent_127_materialized)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_128_most_frequent_129_materialized)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_138_std_avg_139_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_138_std_avg_139_materialized)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_140_std_avg_141_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_140_std_avg_141_materialized)) AS "income",
			patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
		FROM block_train_split_mlinid14_121
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_one_hot_fit_131_132_materialized, block_one_hot_fit_133_134_materialized, lvl0_column_transformer_143, block_one_hot_fit_135_136_materialized
	WHERE
		lvl0_column_transformer_143."county" = block_one_hot_fit_133_134_materialized."county" AND
		lvl0_column_transformer_143."smoker" = block_one_hot_fit_131_132_materialized."smoker" AND
		lvl0_column_transformer_143."race" = block_one_hot_fit_135_136_materialized."race"
);


/*ATTENTION: MODEL FIT: TRAIN LABELS
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_144 ORDER BY index_mlinspect;
*/


/*ATTENTION: MODEL FIT: TEST LABELS
SELECT "label" FROM block_mlinid16_123 ORDER BY index_mlinspect;
*/

CREATE VIEW block_mlinid26_145 AS (
	SELECT "label", patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_test_split_mlinid14_122
);

CREATE MATERIALIZED VIEW block_test_split_mlinid14_122_materialized AS (
	WITH row_num_mlinspect_split AS(
		SELECT *, (ROW_NUMBER() OVER()) AS row_number_mlinspect
		FROM (SELECT * FROM block_mlinid13_120 ORDER BY RANDOM()) block_mlinid13_120
	)
	SELECT *
	FROM row_num_mlinspect_split
	WHERE row_number_mlinspect >= 0.75 * (SELECT COUNT(*) FROM block_mlinid13_120)
);

CREATE VIEW block_impute_mlinid147_148 AS (
	SELECT
		COALESCE("smoker", (SELECT * FROM block_impute_fit_124_most_frequent_125_materialized)) AS "smoker",
		COALESCE("county", (SELECT * FROM block_impute_fit_126_most_frequent_127_materialized)) AS "county",
		"num_children",
		COALESCE("race", (SELECT * FROM block_impute_fit_128_most_frequent_129_materialized)) AS "race",
		"income",
		patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_test_split_mlinid14_122_materialized
);

CREATE VIEW block_onehot_mlinid149_150 AS (
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"num_children",
		"race_one_hot" AS "race",
		"income",
		patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_one_hot_fit_131_132_materialized, block_one_hot_fit_133_134_materialized, block_one_hot_fit_135_136_materialized, block_impute_mlinid147_148
	WHERE
	 	block_impute_mlinid147_148."smoker" = block_one_hot_fit_131_132_materialized."smoker" AND
		block_impute_mlinid147_148."county" = block_one_hot_fit_133_134_materialized."county" AND
		block_impute_mlinid147_148."race" = block_one_hot_fit_135_136_materialized."race"
);

CREATE VIEW block_stdscaler_mlinid151_152 AS (
	SELECT
		"smoker",
		"county",
		(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_138_std_avg_139_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_138_std_avg_139_materialized)) AS "num_children",
		"race",
		(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_140_std_avg_141_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_140_std_avg_141_materialized)) AS "income",
		patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM block_test_split_mlinid14_122_materialized
);

CREATE VIEW block_column_transformer_lvl1_154 AS (
	WITH lvl0_column_transformer_153 AS (
		SELECT
			COALESCE("smoker", (SELECT * FROM block_impute_fit_124_most_frequent_125_materialized)) AS "smoker",
			COALESCE("county", (SELECT * FROM block_impute_fit_126_most_frequent_127_materialized)) AS "county",
			COALESCE("race", (SELECT * FROM block_impute_fit_128_most_frequent_129_materialized)) AS "race",
			(("num_children" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_138_std_avg_139_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_138_std_avg_139_materialized)) AS "num_children",
			(("income" - (SELECT avg_col_std_scal FROM block_std_scalar_fit_140_std_avg_141_materialized)) / (SELECT std_dev_col_std_scal FROM block_std_scalar_fit_140_std_avg_141_materialized)) AS "income",
			patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
		FROM block_test_split_mlinid14_122
	)
	SELECT
		"smoker_one_hot" AS "smoker",
		"county_one_hot" AS "county",
		"race_one_hot" AS "race",
		"num_children",
		"income",
		patients_105_mlinid0_ctid, histories_106_mlinid1_ctid
	FROM lvl0_column_transformer_153, block_one_hot_fit_131_132_materialized, block_one_hot_fit_133_134_materialized, block_one_hot_fit_135_136_materialized
	WHERE
		lvl0_column_transformer_153."race" = block_one_hot_fit_135_136_materialized."race" AND
		lvl0_column_transformer_153."county" = block_one_hot_fit_133_134_materialized."county" AND
		lvl0_column_transformer_153."smoker" = block_one_hot_fit_131_132_materialized."smoker"
);


/*ATTENTION: MODEL SCORE: INPUT DATA
SELECT "smoker", "county", "race", "num_children", "income" FROM block_column_transformer_lvl1_154 ORDER BY index_mlinspect;
*/


/*ATTENTION: MODEL SCORE: EXPECTED OUTPUT DATA
SELECT "label" FROM block_mlinid26_145 ORDER BY index_mlinspect;
*/

SELECT "label" FROM block_mlinid26_145 ORDER BY index_mlinspect

c:\users\dime\sqlundmlinspect\mlinspect\venv\lib\site-packages\sklearn\impute\_base.py:42: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)
c:\users\dime\sqlundmlinspect\mlinspect\venv\lib\site-packages\sklearn\impute\_base.py:42: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)
c:\users\dime\sqlundmlinspect\mlinspect\venv\lib\site-packages\sklearn\impute\_base.py:42: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)